In [1]:
people = {
    "first_name":["Duyen le","Duyen le","NaN"],
    "last_name":"huu",
    "sdt":["0123","1234","3456"]
}

In [2]:
import pandas as pd

In [33]:
df = pd.DataFrame(people)

In [4]:
df

  first_name last_name   sdt
0   Duyen le       huu  0123
1   Duyen le       huu  1234
2        NaN       huu  3456

In [5]:
df.sdt

0    0123
1    1234
2    3456
Name: sdt, dtype: object

In [6]:
df['sdt']

0    0123
1    1234
2    3456
Name: sdt, dtype: object

In [7]:
df[['sdt','first_name']]

    sdt first_name
0  0123   Duyen le
1  1234   Duyen le
2  3456        NaN

In [8]:
df.columns

Index(['first_name', 'last_name', 'sdt'], dtype='object')

In [9]:
df.iloc[[0,1],2]

0    0123
1    1234
Name: sdt, dtype: object

In [10]:
df

  first_name last_name   sdt
0   Duyen le       huu  0123
1   Duyen le       huu  1234
2        NaN       huu  3456

In [11]:
df.loc[[0,2],"sdt"]

0    0123
2    3456
Name: sdt, dtype: object

In [12]:
df.set_index('sdt',inplace=True)

In [13]:
df

     first_name last_name
sdt
0123   Duyen le       huu
1234   Duyen le       huu
3456        NaN       huu

In [14]:
df.index

Index(['0123', '1234', '3456'], dtype='object', name='sdt')

In [15]:
df.columns

Index(['first_name', 'last_name'], dtype='object')

In [16]:
df.reset_index(inplace=True)

In [17]:
df

    sdt first_name last_name
0  0123   Duyen le       huu
1  1234   Duyen le       huu
2  3456        NaN       huu

In [18]:
df["first_name"] == "Duyen le"

0     True
1     True
2    False
Name: first_name, dtype: bool

In [19]:
filt = (df["first_name"] == "Duyen le") | (df["sdt"] == "3456")

In [20]:
df[filt]

    sdt first_name last_name
0  0123   Duyen le       huu
1  1234   Duyen le       huu
2  3456        NaN       huu

In [21]:
df.loc[~filt,"sdt"]

Series([], Name: sdt, dtype: object)

In [34]:
df.columns

Index(['first_name', 'last_name', 'sdt'], dtype='object')

In [40]:
df.columns = [x.upper() for x in df.columns]
df.columns = [x.lower() for x in df.columns]

df

  first name last name   sdt
0   Duyen le       huu  0123
1   Duyen le       huu  1234
2        NaN       huu  3456

In [41]:
df.columns = df.columns.str.replace(' ',"_")
df

  first_name last_name   sdt
0   Duyen le       huu  0123
1   Duyen le       huu  1234
2        NaN       huu  3456

In [49]:
df.rename(columns = {"fullname":"full_name","last_name":"middle_name"},inplace =True )

In [50]:
df

  full_name middle_name   sdt
0  Duyen le         huu  0123
1  Duyen le         huu  1234
2       NaN         huu  3456

In [51]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [59]:
df.rename(columns={"full_name":"first_name"},inplace = True)

In [68]:
df.loc[0,['full_name','middle_name','first_name']] = ["fullname","middle","first_name"]
df

   first_name middle_name         sdt full_name
0  first_name      middle  0772232250  fullname
1    Duyen le         huu        1234       NaN
2         NaN         huu        3456       NaN

In [73]:
filt = (df['sdt'] > "1")

In [74]:
filt

0    False
1     True
2     True
Name: sdt, dtype: bool

In [75]:
df[filt]

  first_name middle_name   sdt full_name
1   Duyen le         huu  1234       NaN
2        NaN         huu  3456       NaN

In [77]:
df.loc[filt,"midde_name"] = "hihi"

In [80]:
df['first_name'] = df['first_name'].str.lower()

In [82]:
df

   first_name middle_name         sdt full_name midde_name
0  first_name      middle  0772232250  fullname        NaN
1    duyen le         huu        1234       NaN       hihi
2         nan         huu        3456       NaN       hihi

In [83]:
 df['sdt'].apply(len)

0    10
1     4
2     4
Name: sdt, dtype: int64

In [84]:
def upperString(first_name):
    return first_name.upper();

In [85]:
df['first_name'].apply(upperString)

0    FIRST_NAME
1      DUYEN LE
2           NAN
Name: first_name, dtype: object

In [87]:
for i in range(1,11600):
    print("DELETE FROM `m_icd10` WHERE id = {};".format(i))

DELETE FROM `m_icd10` WHERE id = 1;
DELETE FROM `m_icd10` WHERE id = 2;
DELETE FROM `m_icd10` WHERE id = 3;
DELETE FROM `m_icd10` WHERE id = 4;
DELETE FROM `m_icd10` WHERE id = 5;
DELETE FROM `m_icd10` WHERE id = 6;
DELETE FROM `m_icd10` WHERE id = 7;
DELETE FROM `m_icd10` WHERE id = 8;
DELETE FROM `m_icd10` WHERE id = 9;
DELETE FROM `m_icd10` WHERE id = 10;
DELETE FROM `m_icd10` WHERE id = 11;
DELETE FROM `m_icd10` WHERE id = 12;
DELETE FROM `m_icd10` WHERE id = 13;
DELETE FROM `m_icd10` WHERE id = 14;
DELETE FROM `m_icd10` WHERE id = 15;
DELETE FROM `m_icd10` WHERE id = 16;
DELETE FROM `m_icd10` WHERE id = 17;
DELETE FROM `m_icd10` WHERE id = 18;
DELETE FROM `m_icd10` WHERE id = 19;
DELETE FROM `m_icd10` WHERE id = 20;
DELETE FROM `m_icd10` WHERE id = 21;
DELETE FROM `m_icd10` WHERE id = 22;
DELETE FROM `m_icd10` WHERE id = 23;
DELETE FROM `m_icd10` WHERE id = 24;
DELETE FROM `m_icd10` WHERE id = 25;
DELETE FROM `m_icd10` WHERE id = 26;
DELETE FROM `m_icd10` WHERE id = 27;
DELETE FROM `m_icd10` WHERE id = 28;
DELETE FROM `m_icd10` WHERE id = 29;
DELETE FROM `m_icd10` WHERE id = 30;
DELETE FROM `m_icd10` WHERE id = 31;
DELETE FROM `m_icd10` WHERE id = 32;
DELETE FROM `m_icd10` WHERE id = 33;
DELETE FROM `m_icd10` WHERE id = 34;
DELETE FROM `m_icd10` WHERE id = 35;
DELETE FROM `m_icd10` WHERE id = 36;
DELETE FROM `m_icd10` WHERE id = 37;
DELETE FROM `m_icd10` WHERE id = 38;
DELETE FROM `m_icd10` WHERE id = 39;
DELETE FROM `m_icd10` WHERE id = 40;
DELETE FROM `m_icd10` WHERE id = 41;
DELETE FROM `m_icd10` WHERE id = 42;
DELETE FROM `m_icd10` WHERE id = 43;
DELETE FROM `m_icd10` WHERE id = 44;
DELETE FROM `m_icd10` WHERE id = 45;
DELETE FROM `m_icd10` WHERE id = 46;
DELETE FROM `m_icd10` WHERE id = 47;
DELETE FROM `m_icd10` WHERE id = 48;
DELETE FROM `m_icd10` WHERE id = 49;
DELETE FROM `m_icd10` WHERE id = 50;
DELETE FROM `m_icd10` WHERE id = 51;
DELETE FROM `m_icd10` WHERE id = 52;
DELETE FROM `m_icd10` WHERE id = 53;
DELETE FROM `m_icd10` WHERE id = 54;
DELETE FROM `m_icd10` WHERE id = 55;
DELETE FROM `m_icd10` WHERE id = 56;
DELETE FROM `m_icd10` WHERE id = 57;
DELETE FROM `m_icd10` WHERE id = 58;
DELETE FROM `m_icd10` WHERE id = 59;
DELETE FROM `m_icd10` WHERE id = 60;
DELETE FROM `m_icd10` WHERE id = 61;
DELETE FROM `m_icd10` WHERE id = 62;
DELETE FROM `m_icd10` WHERE id = 63;
DELETE FROM `m_icd10` WHERE id = 64;
DELETE FROM `m_icd10` WHERE id = 65;
DELETE FROM `m_icd10` WHERE id = 66;
DELETE FROM `m_icd10` WHERE id = 67;
DELETE FROM `m_icd10` WHERE id = 68;
DELETE FROM `m_icd10` WHERE id = 69;
DELETE FROM `m_icd10` WHERE id = 70;
DELETE FROM `m_icd10` WHERE id = 71;
DELETE FROM `m_icd10` WHERE id = 72;
DELETE FROM `m_icd10` WHERE id = 73;
DELETE FROM `m_icd10` WHERE id = 74;
DELETE FROM `m_icd10` WHERE id = 75;
DELETE FROM `m_icd10` WHERE id = 76;
DELETE FROM `m_icd10` WHERE id = 77;
DELETE FROM `m_icd10` WHERE id = 78;
DELETE FROM `m_icd10` WHERE id = 79;
DELETE FROM `m_icd10` WHERE id = 80;
DELETE FROM `m_icd10` WHERE id = 81;
DELETE FROM `m_icd10` WHERE id = 82;
DELETE FROM `m_icd10` WHERE id = 83;
DELETE FROM `m_icd10` WHERE id = 84;
DELETE FROM `m_icd10` WHERE id = 85;
DELETE FROM `m_icd10` WHERE id = 86;
DELETE FROM `m_icd10` WHERE id = 87;
DELETE FROM `m_icd10` WHERE id = 88;
DELETE FROM `m_icd10` WHERE id = 89;
DELETE FROM `m_icd10` WHERE id = 90;
DELETE FROM `m_icd10` WHERE id = 91;
DELETE FROM `m_icd10` WHERE id = 92;
DELETE FROM `m_icd10` WHERE id = 93;
DELETE FROM `m_icd10` WHERE id = 94;
DELETE FROM `m_icd10` WHERE id = 95;
DELETE FROM `m_icd10` WHERE id = 96;
DELETE FROM `m_icd10` WHERE id = 97;
DELETE FROM `m_icd10` WHERE id = 98;
DELETE FROM `m_icd10` WHERE id = 99;
DELETE FROM `m_icd10` WHERE id = 100;
DELETE FROM `m_icd10` WHERE id = 101;
DELETE FROM `m_icd10` WHERE id = 102;
DELETE FROM `m_icd10` WHERE id = 103;
DELETE FROM `m_icd10` WHERE id = 104;
DELETE FROM `m_icd10` WHERE id = 105;
DELETE FROM `m_icd10` WHERE id = 106;
DELETE FROM `m_icd10` WHERE id = 107;
DELETE FROM `m_icd10` WHERE id = 108;
DELETE FROM `m_icd10` WHERE id = 109;
DELETE FROM `m_icd10` WHERE id = 110;
DELETE FROM `m_icd10` WHERE id = 111;
DELETE FROM `m_icd10` WHERE id = 112;
DELETE FROM `m_icd10` WHERE id = 113;
DELETE FROM `m_icd10` WHERE id = 114;
DELETE FROM `m_icd10` WHERE id = 115;
DELETE FROM `m_icd10` WHERE id = 116;
DELETE FROM `m_icd10` WHERE id = 117;
DELETE FROM `m_icd10` WHERE id = 118;
DELETE FROM `m_icd10` WHERE id = 119;
DELETE FROM `m_icd10` WHERE id = 120;
DELETE FROM `m_icd10` WHERE id = 121;
DELETE FROM `m_icd10` WHERE id = 122;
DELETE FROM `m_icd10` WHERE id = 123;
DELETE FROM `m_icd10` WHERE id = 124;
DELETE FROM `m_icd10` WHERE id = 125;
DELETE FROM `m_icd10` WHERE id = 126;
DELETE FROM `m_icd10` WHERE id = 127;
DELETE FROM `m_icd10` WHERE id = 128;
DELETE FROM `m_icd10` WHERE id = 129;
DELETE FROM `m_icd10` WHERE id = 130;
DELETE FROM `m_icd10` WHERE id = 131;
DELETE FROM `m_icd10` WHERE id = 132;
DELETE FROM `m_icd10` WHERE id = 133;
DELETE FROM `m_icd10` WHERE id = 134;
DELETE FROM `m_icd10` WHERE id = 135;
DELETE FROM `m_icd10` WHERE id = 136;
DELETE FROM `m_icd10` WHERE id = 137;
DELETE FROM `m_icd10` WHERE id = 138;
DELETE FROM `m_icd10` WHERE id = 139;
DELETE FROM `m_icd10` WHERE id = 140;
DELETE FROM `m_icd10` WHERE id = 141;
DELETE FROM `m_icd10` WHERE id = 142;
DELETE FROM `m_icd10` WHERE id = 143;
DELETE FROM `m_icd10` WHERE id = 144;
DELETE FROM `m_icd10` WHERE id = 145;
DELETE FROM `m_icd10` WHERE id = 146;
DELETE FROM `m_icd10` WHERE id = 147;
DELETE FROM `m_icd10` WHERE id = 148;
DELETE FROM `m_icd10` WHERE id = 149;
DELETE FROM `m_icd10` WHERE id = 150;
DELETE FROM `m_icd10` WHERE id = 151;
DELETE FROM `m_icd10` WHERE id = 152;
DELETE FROM `m_icd10` WHERE id = 153;
DELETE FROM `m_icd10` WHERE id = 154;
DELETE FROM `m_icd10` WHERE id = 155;
DELETE FROM `m_icd10` WHERE id = 156;
DELETE FROM `m_icd10` WHERE id = 157;
DELETE FROM `m_icd10` WHERE id = 158;
DELETE FROM `m_icd10` WHERE id = 159;
DELETE FROM `m_icd10` WHERE id = 160;
DELETE FROM `m_icd10` WHERE id = 161;
DELETE FROM `m_icd10` WHERE id = 162;
DELETE FROM `m_icd10` WHERE id = 163;
DELETE FROM `m_icd10` WHERE id = 164;
DELETE FROM `m_icd10` WHERE id = 165;
DELETE FROM `m_icd10` WHERE id = 166;
DELETE FROM `m_icd10` WHERE id = 167;
DELETE FROM `m_icd10` WHERE id = 168;
DELETE FROM `m_icd10` WHERE id = 169;
DELETE FROM `m_icd10` WHERE id = 170;
DELETE FROM `m_icd10` WHERE id = 171;
DELETE FROM `m_icd10` WHERE id = 172;
DELETE FROM `m_icd10` WHERE id = 173;
DELETE FROM `m_icd10` WHERE id = 174;
DELETE FROM `m_icd10` WHERE id = 175;
DELETE FROM `m_icd10` WHERE id = 176;
DELETE FROM `m_icd10` WHERE id = 177;
DELETE FROM `m_icd10` WHERE id = 178;
DELETE FROM `m_icd10` WHERE id = 179;
DELETE FROM `m_icd10` WHERE id = 180;
DELETE FROM `m_icd10` WHERE id = 181;
DELETE FROM `m_icd10` WHERE id = 182;
DELETE FROM `m_icd10` WHERE id = 183;
DELETE FROM `m_icd10` WHERE id = 184;
DELETE FROM `m_icd10` WHERE id = 185;
DELETE FROM `m_icd10` WHERE id = 186;
DELETE FROM `m_icd10` WHERE id = 187;
DELETE FROM `m_icd10` WHERE id = 188;
DELETE FROM `m_icd10` WHERE id = 189;
DELETE FROM `m_icd10` WHERE id = 190;
DELETE FROM `m_icd10` WHERE id = 191;
DELETE FROM `m_icd10` WHERE id = 192;
DELETE FROM `m_icd10` WHERE id = 193;
DELETE FROM `m_icd10` WHERE id = 194;
DELETE FROM `m_icd10` WHERE id = 195;
DELETE FROM `m_icd10` WHERE id = 196;
DELETE FROM `m_icd10` WHERE id = 197;
DELETE FROM `m_icd10` WHERE id = 198;
DELETE FROM `m_icd10` WHERE id = 199;
DELETE FROM `m_icd10` WHERE id = 200;
DELETE FROM `m_icd10` WHERE id = 201;
DELETE FROM `m_icd10` WHERE id = 202;
DELETE FROM `m_icd10` WHERE id = 203;
DELETE FROM `m_icd10` WHERE id = 204;
DELETE FROM `m_icd10` WHERE id = 205;
DELETE FROM `m_icd10` WHERE id = 206;
DELETE FROM `m_icd10` WHERE id = 207;
DELETE FROM `m_icd10` WHERE id = 208;
DELETE FROM `m_icd10` WHERE id = 209;
DELETE FROM `m_icd10` WHERE id = 210;
DELETE FROM `m_icd10` WHERE id = 211;
DELETE FROM `m_icd10` WHERE id = 212;
DELETE FROM `m_icd10` WHERE id = 213;
DELETE FROM `m_icd10` WHERE id = 214;
DELETE FROM `m_icd10` WHERE id = 215;
DELETE FROM `m_icd10` WHERE id = 216;
DELETE FROM `m_icd10` WHERE id = 217;
DELETE FROM `m_icd10` WHERE id = 218;
DELETE FROM `m_icd10` WHERE id = 219;
DELETE FROM `m_icd10` WHERE id = 220;
DELETE FROM `m_icd10` WHERE id = 221;
DELETE FROM `m_icd10` WHERE id = 222;
DELETE FROM `m_icd10` WHERE id = 223;
DELETE FROM `m_icd10` WHERE id = 224;
DELETE FROM `m_icd10` WHERE id = 225;
DELETE FROM `m_icd10` WHERE id = 226;
DELETE FROM `m_icd10` WHERE id = 227;
DELETE FROM `m_icd10` WHERE id = 228;
DELETE FROM `m_icd10` WHERE id = 229;
DELETE FROM `m_icd10` WHERE id = 230;
DELETE FROM `m_icd10` WHERE id = 231;
DELETE FROM `m_icd10` WHERE id = 232;
DELETE FROM `m_icd10` WHERE id = 233;
DELETE FROM `m_icd10` WHERE id = 234;
DELETE FROM `m_icd10` WHERE id = 235;
DELETE FROM `m_icd10` WHERE id = 236;
DELETE FROM `m_icd10` WHERE id = 237;
DELETE FROM `m_icd10` WHERE id = 238;
DELETE FROM `m_icd10` WHERE id = 239;
DELETE FROM `m_icd10` WHERE id = 240;
DELETE FROM `m_icd10` WHERE id = 241;
DELETE FROM `m_icd10` WHERE id = 242;
DELETE FROM `m_icd10` WHERE id = 243;
DELETE FROM `m_icd10` WHERE id = 244;
DELETE FROM `m_icd10` WHERE id = 245;
DELETE FROM `m_icd10` WHERE id = 246;
DELETE FROM `m_icd10` WHERE id = 247;
DELETE FROM `m_icd10` WHERE id = 248;
DELETE FROM `m_icd10` WHERE id = 249;
DELETE FROM `m_icd10` WHERE id = 250;
DELETE FROM `m_icd10` WHERE id = 251;
DELETE FROM `m_icd10` WHERE id = 252;
DELETE FROM `m_icd10` WHERE id = 253;
DELETE FROM `m_icd10` WHERE id = 254;
DELETE FROM `m_icd10` WHERE id = 255;
DELETE FROM `m_icd10` WHERE id = 256;
DELETE FROM `m_icd10` WHERE id = 257;
DELETE FROM `m_icd10` WHERE id = 258;
DELETE FROM `m_icd10` WHERE id = 259;
DELETE FROM `m_icd10` WHERE id = 260;
DELETE FROM `m_icd10` WHERE id = 261;
DELETE FROM `m_icd10` WHERE id = 262;
DELETE FROM `m_icd10` WHERE id = 263;
DELETE FROM `m_icd10` WHERE id = 264;
DELETE FROM `m_icd10` WHERE id = 265;
DELETE FROM `m_icd10` WHERE id = 266;
DELETE FROM `m_icd10` WHERE id = 267;
DELETE FROM `m_icd10` WHERE id = 268;
DELETE FROM `m_icd10` WHERE id = 269;
DELETE FROM `m_icd10` WHERE id = 270;
DELETE FROM `m_icd10` WHERE id = 271;
DELETE FROM `m_icd10` WHERE id = 272;
DELETE FROM `m_icd10` WHERE id = 273;
DELETE FROM `m_icd10` WHERE id = 274;
DELETE FROM `m_icd10` WHERE id = 275;
DELETE FROM `m_icd10` WHERE id = 276;
DELETE FROM `m_icd10` WHERE id = 277;
DELETE FROM `m_icd10` WHERE id = 278;
DELETE FROM `m_icd10` WHERE id = 279;
DELETE FROM `m_icd10` WHERE id = 280;
DELETE FROM `m_icd10` WHERE id = 281;
DELETE FROM `m_icd10` WHERE id = 282;
DELETE FROM `m_icd10` WHERE id = 283;
DELETE FROM `m_icd10` WHERE id = 284;
DELETE FROM `m_icd10` WHERE id = 285;
DELETE FROM `m_icd10` WHERE id = 286;
DELETE FROM `m_icd10` WHERE id = 287;
DELETE FROM `m_icd10` WHERE id = 288;
DELETE FROM `m_icd10` WHERE id = 289;
DELETE FROM `m_icd10` WHERE id = 290;
DELETE FROM `m_icd10` WHERE id = 291;
DELETE FROM `m_icd10` WHERE id = 292;
DELETE FROM `m_icd10` WHERE id = 293;
DELETE FROM `m_icd10` WHERE id = 294;
DELETE FROM `m_icd10` WHERE id = 295;
DELETE FROM `m_icd10` WHERE id = 296;
DELETE FROM `m_icd10` WHERE id = 297;
DELETE FROM `m_icd10` WHERE id = 298;
DELETE FROM `m_icd10` WHERE id = 299;
DELETE FROM `m_icd10` WHERE id = 300;
DELETE FROM `m_icd10` WHERE id = 301;
DELETE FROM `m_icd10` WHERE id = 302;
DELETE FROM `m_icd10` WHERE id = 303;
DELETE FROM `m_icd10` WHERE id = 304;
DELETE FROM `m_icd10` WHERE id = 305;
DELETE FROM `m_icd10` WHERE id = 306;
DELETE FROM `m_icd10` WHERE id = 307;
DELETE FROM `m_icd10` WHERE id = 308;
DELETE FROM `m_icd10` WHERE id = 309;
DELETE FROM `m_icd10` WHERE id = 310;
DELETE FROM `m_icd10` WHERE id = 311;
DELETE FROM `m_icd10` WHERE id = 312;
DELETE FROM `m_icd10` WHERE id = 313;
DELETE FROM `m_icd10` WHERE id = 314;
DELETE FROM `m_icd10` WHERE id = 315;
DELETE FROM `m_icd10` WHERE id = 316;
DELETE FROM `m_icd10` WHERE id = 317;
DELETE FROM `m_icd10` WHERE id = 318;
DELETE FROM `m_icd10` WHERE id = 319;
DELETE FROM `m_icd10` WHERE id = 320;
DELETE FROM `m_icd10` WHERE id = 321;
DELETE FROM `m_icd10` WHERE id = 322;
DELETE FROM `m_icd10` WHERE id = 323;
DELETE FROM `m_icd10` WHERE id = 324;
DELETE FROM `m_icd10` WHERE id = 325;
DELETE FROM `m_icd10` WHERE id = 326;
DELETE FROM `m_icd10` WHERE id = 327;
DELETE FROM `m_icd10` WHERE id = 328;
DELETE FROM `m_icd10` WHERE id = 329;
DELETE FROM `m_icd10` WHERE id = 330;
DELETE FROM `m_icd10` WHERE id = 331;
DELETE FROM `m_icd10` WHERE id = 332;
DELETE FROM `m_icd10` WHERE id = 333;
DELETE FROM `m_icd10` WHERE id = 334;
DELETE FROM `m_icd10` WHERE id = 335;
DELETE FROM `m_icd10` WHERE id = 336;
DELETE FROM `m_icd10` WHERE id = 337;
DELETE FROM `m_icd10` WHERE id = 338;
DELETE FROM `m_icd10` WHERE id = 339;
DELETE FROM `m_icd10` WHERE id = 340;
DELETE FROM `m_icd10` WHERE id = 341;
DELETE FROM `m_icd10` WHERE id = 342;
DELETE FROM `m_icd10` WHERE id = 343;
DELETE FROM `m_icd10` WHERE id = 344;
DELETE FROM `m_icd10` WHERE id = 345;
DELETE FROM `m_icd10` WHERE id = 346;
DELETE FROM `m_icd10` WHERE id = 347;
DELETE FROM `m_icd10` WHERE id = 348;
DELETE FROM `m_icd10` WHERE id = 349;
DELETE FROM `m_icd10` WHERE id = 350;
DELETE FROM `m_icd10` WHERE id = 351;
DELETE FROM `m_icd10` WHERE id = 352;
DELETE FROM `m_icd10` WHERE id = 353;
DELETE FROM `m_icd10` WHERE id = 354;
DELETE FROM `m_icd10` WHERE id = 355;
DELETE FROM `m_icd10` WHERE id = 356;
DELETE FROM `m_icd10` WHERE id = 357;
DELETE FROM `m_icd10` WHERE id = 358;
DELETE FROM `m_icd10` WHERE id = 359;
DELETE FROM `m_icd10` WHERE id = 360;
DELETE FROM `m_icd10` WHERE id = 361;
DELETE FROM `m_icd10` WHERE id = 362;
DELETE FROM `m_icd10` WHERE id = 363;
DELETE FROM `m_icd10` WHERE id = 364;
DELETE FROM `m_icd10` WHERE id = 365;
DELETE FROM `m_icd10` WHERE id = 366;
DELETE FROM `m_icd10` WHERE id = 367;
DELETE FROM `m_icd10` WHERE id = 368;
DELETE FROM `m_icd10` WHERE id = 369;
DELETE FROM `m_icd10` WHERE id = 370;
DELETE FROM `m_icd10` WHERE id = 371;
DELETE FROM `m_icd10` WHERE id = 372;
DELETE FROM `m_icd10` WHERE id = 373;
DELETE FROM `m_icd10` WHERE id = 374;
DELETE FROM `m_icd10` WHERE id = 375;
DELETE FROM `m_icd10` WHERE id = 376;
DELETE FROM `m_icd10` WHERE id = 377;
DELETE FROM `m_icd10` WHERE id = 378;
DELETE FROM `m_icd10` WHERE id = 379;
DELETE FROM `m_icd10` WHERE id = 380;
DELETE FROM `m_icd10` WHERE id = 381;
DELETE FROM `m_icd10` WHERE id = 382;
DELETE FROM `m_icd10` WHERE id = 383;
DELETE FROM `m_icd10` WHERE id = 384;
DELETE FROM `m_icd10` WHERE id = 385;
DELETE FROM `m_icd10` WHERE id = 386;
DELETE FROM `m_icd10` WHERE id = 387;
DELETE FROM `m_icd10` WHERE id = 388;
DELETE FROM `m_icd10` WHERE id = 389;
DELETE FROM `m_icd10` WHERE id = 390;
DELETE FROM `m_icd10` WHERE id = 391;
DELETE FROM `m_icd10` WHERE id = 392;
DELETE FROM `m_icd10` WHERE id = 393;
DELETE FROM `m_icd10` WHERE id = 394;
DELETE FROM `m_icd10` WHERE id = 395;
DELETE FROM `m_icd10` WHERE id = 396;
DELETE FROM `m_icd10` WHERE id = 397;
DELETE FROM `m_icd10` WHERE id = 398;
DELETE FROM `m_icd10` WHERE id = 399;
DELETE FROM `m_icd10` WHERE id = 400;
DELETE FROM `m_icd10` WHERE id = 401;
DELETE FROM `m_icd10` WHERE id = 402;
DELETE FROM `m_icd10` WHERE id = 403;
DELETE FROM `m_icd10` WHERE id = 404;
DELETE FROM `m_icd10` WHERE id = 405;
DELETE FROM `m_icd10` WHERE id = 406;
DELETE FROM `m_icd10` WHERE id = 407;
DELETE FROM `m_icd10` WHERE id = 408;
DELETE FROM `m_icd10` WHERE id = 409;
DELETE FROM `m_icd10` WHERE id = 410;
DELETE FROM `m_icd10` WHERE id = 411;
DELETE FROM `m_icd10` WHERE id = 412;
DELETE FROM `m_icd10` WHERE id = 413;
DELETE FROM `m_icd10` WHERE id = 414;
DELETE FROM `m_icd10` WHERE id = 415;
DELETE FROM `m_icd10` WHERE id = 416;
DELETE FROM `m_icd10` WHERE id = 417;
DELETE FROM `m_icd10` WHERE id = 418;
DELETE FROM `m_icd10` WHERE id = 419;
DELETE FROM `m_icd10` WHERE id = 420;
DELETE FROM `m_icd10` WHERE id = 421;
DELETE FROM `m_icd10` WHERE id = 422;
DELETE FROM `m_icd10` WHERE id = 423;
DELETE FROM `m_icd10` WHERE id = 424;
DELETE FROM `m_icd10` WHERE id = 425;
DELETE FROM `m_icd10` WHERE id = 426;
DELETE FROM `m_icd10` WHERE id = 427;
DELETE FROM `m_icd10` WHERE id = 428;
DELETE FROM `m_icd10` WHERE id = 429;
DELETE FROM `m_icd10` WHERE id = 430;
DELETE FROM `m_icd10` WHERE id = 431;
DELETE FROM `m_icd10` WHERE id = 432;
DELETE FROM `m_icd10` WHERE id = 433;
DELETE FROM `m_icd10` WHERE id = 434;
DELETE FROM `m_icd10` WHERE id = 435;
DELETE FROM `m_icd10` WHERE id = 436;
DELETE FROM `m_icd10` WHERE id = 437;
DELETE FROM `m_icd10` WHERE id = 438;
DELETE FROM `m_icd10` WHERE id = 439;
DELETE FROM `m_icd10` WHERE id = 440;
DELETE FROM `m_icd10` WHERE id = 441;
DELETE FROM `m_icd10` WHERE id = 442;
DELETE FROM `m_icd10` WHERE id = 443;
DELETE FROM `m_icd10` WHERE id = 444;
DELETE FROM `m_icd10` WHERE id = 445;
DELETE FROM `m_icd10` WHERE id = 446;
DELETE FROM `m_icd10` WHERE id = 447;
DELETE FROM `m_icd10` WHERE id = 448;
DELETE FROM `m_icd10` WHERE id = 449;
DELETE FROM `m_icd10` WHERE id = 450;
DELETE FROM `m_icd10` WHERE id = 451;
DELETE FROM `m_icd10` WHERE id = 452;
DELETE FROM `m_icd10` WHERE id = 453;
DELETE FROM `m_icd10` WHERE id = 454;
DELETE FROM `m_icd10` WHERE id = 455;
DELETE FROM `m_icd10` WHERE id = 456;
DELETE FROM `m_icd10` WHERE id = 457;
DELETE FROM `m_icd10` WHERE id = 458;
DELETE FROM `m_icd10` WHERE id = 459;
DELETE FROM `m_icd10` WHERE id = 460;
DELETE FROM `m_icd10` WHERE id = 461;
DELETE FROM `m_icd10` WHERE id = 462;
DELETE FROM `m_icd10` WHERE id = 463;
DELETE FROM `m_icd10` WHERE id = 464;
DELETE FROM `m_icd10` WHERE id = 465;
DELETE FROM `m_icd10` WHERE id = 466;
DELETE FROM `m_icd10` WHERE id = 467;
DELETE FROM `m_icd10` WHERE id = 468;
DELETE FROM `m_icd10` WHERE id = 469;
DELETE FROM `m_icd10` WHERE id = 470;
DELETE FROM `m_icd10` WHERE id = 471;
DELETE FROM `m_icd10` WHERE id = 472;
DELETE FROM `m_icd10` WHERE id = 473;
DELETE FROM `m_icd10` WHERE id = 474;
DELETE FROM `m_icd10` WHERE id = 475;
DELETE FROM `m_icd10` WHERE id = 476;
DELETE FROM `m_icd10` WHERE id = 477;
DELETE FROM `m_icd10` WHERE id = 478;
DELETE FROM `m_icd10` WHERE id = 479;
DELETE FROM `m_icd10` WHERE id = 480;
DELETE FROM `m_icd10` WHERE id = 481;
DELETE FROM `m_icd10` WHERE id = 482;
DELETE FROM `m_icd10` WHERE id = 483;
DELETE FROM `m_icd10` WHERE id = 484;
DELETE FROM `m_icd10` WHERE id = 485;
DELETE FROM `m_icd10` WHERE id = 486;
DELETE FROM `m_icd10` WHERE id = 487;
DELETE FROM `m_icd10` WHERE id = 488;
DELETE FROM `m_icd10` WHERE id = 489;
DELETE FROM `m_icd10` WHERE id = 490;
DELETE FROM `m_icd10` WHERE id = 491;
DELETE FROM `m_icd10` WHERE id = 492;
DELETE FROM `m_icd10` WHERE id = 493;
DELETE FROM `m_icd10` WHERE id = 494;
DELETE FROM `m_icd10` WHERE id = 495;
DELETE FROM `m_icd10` WHERE id = 496;
DELETE FROM `m_icd10` WHERE id = 497;
DELETE FROM `m_icd10` WHERE id = 498;
DELETE FROM `m_icd10` WHERE id = 499;
DELETE FROM `m_icd10` WHERE id = 500;
DELETE FROM `m_icd10` WHERE id = 501;
DELETE FROM `m_icd10` WHERE id = 502;
DELETE FROM `m_icd10` WHERE id = 503;
DELETE FROM `m_icd10` WHERE id = 504;
DELETE FROM `m_icd10` WHERE id = 505;
DELETE FROM `m_icd10` WHERE id = 506;
DELETE FROM `m_icd10` WHERE id = 507;
DELETE FROM `m_icd10` WHERE id = 508;
DELETE FROM `m_icd10` WHERE id = 509;
DELETE FROM `m_icd10` WHERE id = 510;
DELETE FROM `m_icd10` WHERE id = 511;
DELETE FROM `m_icd10` WHERE id = 512;
DELETE FROM `m_icd10` WHERE id = 513;
DELETE FROM `m_icd10` WHERE id = 514;
DELETE FROM `m_icd10` WHERE id = 515;
DELETE FROM `m_icd10` WHERE id = 516;
DELETE FROM `m_icd10` WHERE id = 517;
DELETE FROM `m_icd10` WHERE id = 518;
DELETE FROM `m_icd10` WHERE id = 519;
DELETE FROM `m_icd10` WHERE id = 520;
DELETE FROM `m_icd10` WHERE id = 521;
DELETE FROM `m_icd10` WHERE id = 522;
DELETE FROM `m_icd10` WHERE id = 523;
DELETE FROM `m_icd10` WHERE id = 524;
DELETE FROM `m_icd10` WHERE id = 525;
DELETE FROM `m_icd10` WHERE id = 526;
DELETE FROM `m_icd10` WHERE id = 527;
DELETE FROM `m_icd10` WHERE id = 528;
DELETE FROM `m_icd10` WHERE id = 529;

DELETE FROM `m_icd10` WHERE id = 2678;
DELETE FROM `m_icd10` WHERE id = 2679;
DELETE FROM `m_icd10` WHERE id = 2680;
DELETE FROM `m_icd10` WHERE id = 2681;
DELETE FROM `m_icd10` WHERE id = 2682;
DELETE FROM `m_icd10` WHERE id = 2683;
DELETE FROM `m_icd10` WHERE id = 2684;
DELETE FROM `m_icd10` WHERE id = 2685;
DELETE FROM `m_icd10` WHERE id = 2686;
DELETE FROM `m_icd10` WHERE id = 2687;
DELETE FROM `m_icd10` WHERE id = 2688;
DELETE FROM `m_icd10` WHERE id = 2689;
DELETE FROM `m_icd10` WHERE id = 2690;
DELETE FROM `m_icd10` WHERE id = 2691;
DELETE FROM `m_icd10` WHERE id = 2692;
DELETE FROM `m_icd10` WHERE id = 2693;
DELETE FROM `m_icd10` WHERE id = 2694;
DELETE FROM `m_icd10` WHERE id = 2695;
DELETE FROM `m_icd10` WHERE id = 2696;
DELETE FROM `m_icd10` WHERE id = 2697;
DELETE FROM `m_icd10` WHERE id = 2698;
DELETE FROM `m_icd10` WHERE id = 2699;
DELETE FROM `m_icd10` WHERE id = 2700;
DELETE FROM `m_icd10` WHERE id = 2701;
DELETE FROM `m_icd10` WHERE id = 2702;
DELETE FROM `m_icd10` WHERE id = 2703;
DELETE FROM `m_icd10` WHERE id = 2704;
DELETE FROM `m_icd10` WHERE id = 2705;
DELETE FROM `m_icd10` WHERE id = 2706;
DELETE FROM `m_icd10` WHERE id = 2707;
DELETE FROM `m_icd10` WHERE id = 2708;
DELETE FROM `m_icd10` WHERE id = 2709;
DELETE FROM `m_icd10` WHERE id = 2710;
DELETE FROM `m_icd10` WHERE id = 2711;
DELETE FROM `m_icd10` WHERE id = 2712;
DELETE FROM `m_icd10` WHERE id = 2713;
DELETE FROM `m_icd10` WHERE id = 2714;
DELETE FROM `m_icd10` WHERE id = 2715;
DELETE FROM `m_icd10` WHERE id = 2716;
DELETE FROM `m_icd10` WHERE id = 2717;
DELETE FROM `m_icd10` WHERE id = 2718;
DELETE FROM `m_icd10` WHERE id = 2719;
DELETE FROM `m_icd10` WHERE id = 2720;
DELETE FROM `m_icd10` WHERE id = 2721;
DELETE FROM `m_icd10` WHERE id = 2722;
DELETE FROM `m_icd10` WHERE id = 2723;
DELETE FROM `m_icd10` WHERE id = 2724;
DELETE FROM `m_icd10` WHERE id = 2725;
DELETE FROM `m_icd10` WHERE id = 2726;
DELETE FROM `m_icd10` WHERE id = 2727;
DELETE FROM `m_icd10` WHERE id = 2728;
DELETE FROM `m_icd10` WHERE id = 2729;
DELETE FROM `m_icd10` WHERE id = 2730;
DELETE FROM `m_icd10` WHERE id = 2731;
DELETE FROM `m_icd10` WHERE id = 2732;
DELETE FROM `m_icd10` WHERE id = 2733;
DELETE FROM `m_icd10` WHERE id = 2734;
DELETE FROM `m_icd10` WHERE id = 2735;
DELETE FROM `m_icd10` WHERE id = 2736;
DELETE FROM `m_icd10` WHERE id = 2737;
DELETE FROM `m_icd10` WHERE id = 2738;
DELETE FROM `m_icd10` WHERE id = 2739;
DELETE FROM `m_icd10` WHERE id = 2740;
DELETE FROM `m_icd10` WHERE id = 2741;
DELETE FROM `m_icd10` WHERE id = 2742;
DELETE FROM `m_icd10` WHERE id = 2743;
DELETE FROM `m_icd10` WHERE id = 2744;
DELETE FROM `m_icd10` WHERE id = 2745;
DELETE FROM `m_icd10` WHERE id = 2746;
DELETE FROM `m_icd10` WHERE id = 2747;
DELETE FROM `m_icd10` WHERE id = 2748;
DELETE FROM `m_icd10` WHERE id = 2749;
DELETE FROM `m_icd10` WHERE id = 2750;
DELETE FROM `m_icd10` WHERE id = 2751;
DELETE FROM `m_icd10` WHERE id = 2752;
DELETE FROM `m_icd10` WHERE id = 2753;
DELETE FROM `m_icd10` WHERE id = 2754;
DELETE FROM `m_icd10` WHERE id = 2755;
DELETE FROM `m_icd10` WHERE id = 2756;
DELETE FROM `m_icd10` WHERE id = 2757;
DELETE FROM `m_icd10` WHERE id = 2758;
DELETE FROM `m_icd10` WHERE id = 2759;
DELETE FROM `m_icd10` WHERE id = 2760;
DELETE FROM `m_icd10` WHERE id = 2761;
DELETE FROM `m_icd10` WHERE id = 2762;
DELETE FROM `m_icd10` WHERE id = 2763;
DELETE FROM `m_icd10` WHERE id = 2764;
DELETE FROM `m_icd10` WHERE id = 2765;
DELETE FROM `m_icd10` WHERE id = 2766;
DELETE FROM `m_icd10` WHERE id = 2767;
DELETE FROM `m_icd10` WHERE id = 2768;
DELETE FROM `m_icd10` WHERE id = 2769;
DELETE FROM `m_icd10` WHERE id = 2770;
DELETE FROM `m_icd10` WHERE id = 2771;
DELETE FROM `m_icd10` WHERE id = 2772;
DELETE FROM `m_icd10` WHERE id = 2773;
DELETE FROM `m_icd10` WHERE id = 2774;
DELETE FROM `m_icd10` WHERE id = 2775;
DELETE FROM `m_icd10` WHERE id = 2776;
DELETE FROM `m_icd10` WHERE id = 2777;
DELETE FROM `m_icd10` WHERE id = 2778;
DELETE FROM `m_icd10` WHERE id = 2779;
DELETE FROM `m_icd10` WHERE id = 2780;
DELETE FROM `m_icd10` WHERE id = 2781;
DELETE FROM `m_icd10` WHERE id = 2782;
DELETE FROM `m_icd10` WHERE id = 2783;
DELETE FROM `m_icd10` WHERE id = 2784;
DELETE FROM `m_icd10` WHERE id = 2785;
DELETE FROM `m_icd10` WHERE id = 2786;
DELETE FROM `m_icd10` WHERE id = 2787;
DELETE FROM `m_icd10` WHERE id = 2788;
DELETE FROM `m_icd10` WHERE id = 2789;
DELETE FROM `m_icd10` WHERE id = 2790;
DELETE FROM `m_icd10` WHERE id = 2791;
DELETE FROM `m_icd10` WHERE id = 2792;
DELETE FROM `m_icd10` WHERE id = 2793;
DELETE FROM `m_icd10` WHERE id = 2794;
DELETE FROM `m_icd10` WHERE id = 2795;
DELETE FROM `m_icd10` WHERE id = 2796;
DELETE FROM `m_icd10` WHERE id = 2797;
DELETE FROM `m_icd10` WHERE id = 2798;
DELETE FROM `m_icd10` WHERE id = 2799;
DELETE FROM `m_icd10` WHERE id = 2800;
DELETE FROM `m_icd10` WHERE id = 2801;
DELETE FROM `m_icd10` WHERE id = 2802;
DELETE FROM `m_icd10` WHERE id = 2803;
DELETE FROM `m_icd10` WHERE id = 2804;
DELETE FROM `m_icd10` WHERE id = 2805;
DELETE FROM `m_icd10` WHERE id = 2806;
DELETE FROM `m_icd10` WHERE id = 2807;
DELETE FROM `m_icd10` WHERE id = 2808;
DELETE FROM `m_icd10` WHERE id = 2809;
DELETE FROM `m_icd10` WHERE id = 2810;
DELETE FROM `m_icd10` WHERE id = 2811;
DELETE FROM `m_icd10` WHERE id = 2812;
DELETE FROM `m_icd10` WHERE id = 2813;
DELETE FROM `m_icd10` WHERE id = 2814;
DELETE FROM `m_icd10` WHERE id = 2815;
DELETE FROM `m_icd10` WHERE id = 2816;
DELETE FROM `m_icd10` WHERE id = 2817;
DELETE FROM `m_icd10` WHERE id = 2818;
DELETE FROM `m_icd10` WHERE id = 2819;
DELETE FROM `m_icd10` WHERE id = 2820;
DELETE FROM `m_icd10` WHERE id = 2821;
DELETE FROM `m_icd10` WHERE id = 2822;
DELETE FROM `m_icd10` WHERE id = 2823;
DELETE FROM `m_icd10` WHERE id = 2824;
DELETE FROM `m_icd10` WHERE id = 2825;
DELETE FROM `m_icd10` WHERE id = 2826;
DELETE FROM `m_icd10` WHERE id = 2827;
DELETE FROM `m_icd10` WHERE id = 2828;
DELETE FROM `m_icd10` WHERE id = 2829;
DELETE FROM `m_icd10` WHERE id = 2830;
DELETE FROM `m_icd10` WHERE id = 2831;
DELETE FROM `m_icd10` WHERE id = 2832;
DELETE FROM `m_icd10` WHERE id = 2833;
DELETE FROM `m_icd10` WHERE id = 2834;
DELETE FROM `m_icd10` WHERE id = 2835;
DELETE FROM `m_icd10` WHERE id = 2836;
DELETE FROM `m_icd10` WHERE id = 2837;
DELETE FROM `m_icd10` WHERE id = 2838;
DELETE FROM `m_icd10` WHERE id = 2839;
DELETE FROM `m_icd10` WHERE id = 2840;
DELETE FROM `m_icd10` WHERE id = 2841;
DELETE FROM `m_icd10` WHERE id = 2842;
DELETE FROM `m_icd10` WHERE id = 2843;
DELETE FROM `m_icd10` WHERE id = 2844;
DELETE FROM `m_icd10` WHERE id = 2845;
DELETE FROM `m_icd10` WHERE id = 2846;
DELETE FROM `m_icd10` WHERE id = 2847;
DELETE FROM `m_icd10` WHERE id = 2848;
DELETE FROM `m_icd10` WHERE id = 2849;
DELETE FROM `m_icd10` WHERE id = 2850;
DELETE FROM `m_icd10` WHERE id = 2851;
DELETE FROM `m_icd10` WHERE id = 2852;
DELETE FROM `m_icd10` WHERE id = 2853;
DELETE FROM `m_icd10` WHERE id = 2854;
DELETE FROM `m_icd10` WHERE id = 2855;
DELETE FROM `m_icd10` WHERE id = 2856;
DELETE FROM `m_icd10` WHERE id = 2857;
DELETE FROM `m_icd10` WHERE id = 2858;
DELETE FROM `m_icd10` WHERE id = 2859;
DELETE FROM `m_icd10` WHERE id = 2860;
DELETE FROM `m_icd10` WHERE id = 2861;
DELETE FROM `m_icd10` WHERE id = 2862;
DELETE FROM `m_icd10` WHERE id = 2863;
DELETE FROM `m_icd10` WHERE id = 2864;
DELETE FROM `m_icd10` WHERE id = 2865;
DELETE FROM `m_icd10` WHERE id = 2866;
DELETE FROM `m_icd10` WHERE id = 2867;
DELETE FROM `m_icd10` WHERE id = 2868;
DELETE FROM `m_icd10` WHERE id = 2869;
DELETE FROM `m_icd10` WHERE id = 2870;
DELETE FROM `m_icd10` WHERE id = 2871;
DELETE FROM `m_icd10` WHERE id = 2872;
DELETE FROM `m_icd10` WHERE id = 2873;
DELETE FROM `m_icd10` WHERE id = 2874;
DELETE FROM `m_icd10` WHERE id = 2875;
DELETE FROM `m_icd10` WHERE id = 2876;
DELETE FROM `m_icd10` WHERE id = 2877;
DELETE FROM `m_icd10` WHERE id = 2878;
DELETE FROM `m_icd10` WHERE id = 2879;
DELETE FROM `m_icd10` WHERE id = 2880;
DELETE FROM `m_icd10` WHERE id = 2881;
DELETE FROM `m_icd10` WHERE id = 2882;
DELETE FROM `m_icd10` WHERE id = 2883;
DELETE FROM `m_icd10` WHERE id = 2884;
DELETE FROM `m_icd10` WHERE id = 2885;
DELETE FROM `m_icd10` WHERE id = 2886;
DELETE FROM `m_icd10` WHERE id = 2887;
DELETE FROM `m_icd10` WHERE id = 2888;
DELETE FROM `m_icd10` WHERE id = 2889;
DELETE FROM `m_icd10` WHERE id = 2890;
DELETE FROM `m_icd10` WHERE id = 2891;
DELETE FROM `m_icd10` WHERE id = 2892;
DELETE FROM `m_icd10` WHERE id = 2893;
DELETE FROM `m_icd10` WHERE id = 2894;
DELETE FROM `m_icd10` WHERE id = 2895;
DELETE FROM `m_icd10` WHERE id = 2896;
DELETE FROM `m_icd10` WHERE id = 2897;
DELETE FROM `m_icd10` WHERE id = 2898;
DELETE FROM `m_icd10` WHERE id = 2899;
DELETE FROM `m_icd10` WHERE id = 2900;
DELETE FROM `m_icd10` WHERE id = 2901;
DELETE FROM `m_icd10` WHERE id = 2902;
DELETE FROM `m_icd10` WHERE id = 2903;
DELETE FROM `m_icd10` WHERE id = 2904;
DELETE FROM `m_icd10` WHERE id = 2905;
DELETE FROM `m_icd10` WHERE id = 2906;
DELETE FROM `m_icd10` WHERE id = 2907;
DELETE FROM `m_icd10` WHERE id = 2908;
DELETE FROM `m_icd10` WHERE id = 2909;
DELETE FROM `m_icd10` WHERE id = 2910;
DELETE FROM `m_icd10` WHERE id = 2911;
DELETE FROM `m_icd10` WHERE id = 2912;
DELETE FROM `m_icd10` WHERE id = 2913;
DELETE FROM `m_icd10` WHERE id = 2914;
DELETE FROM `m_icd10` WHERE id = 2915;
DELETE FROM `m_icd10` WHERE id = 2916;
DELETE FROM `m_icd10` WHERE id = 2917;
DELETE FROM `m_icd10` WHERE id = 2918;
DELETE FROM `m_icd10` WHERE id = 2919;
DELETE FROM `m_icd10` WHERE id = 2920;
DELETE FROM `m_icd10` WHERE id = 2921;
DELETE FROM `m_icd10` WHERE id = 2922;
DELETE FROM `m_icd10` WHERE id = 2923;
DELETE FROM `m_icd10` WHERE id = 2924;
DELETE FROM `m_icd10` WHERE id = 2925;
DELETE FROM `m_icd10` WHERE id = 2926;
DELETE FROM `m_icd10` WHERE id = 2927;
DELETE FROM `m_icd10` WHERE id = 2928;
DELETE FROM `m_icd10` WHERE id = 2929;
DELETE FROM `m_icd10` WHERE id = 2930;
DELETE FROM `m_icd10` WHERE id = 2931;
DELETE FROM `m_icd10` WHERE id = 2932;
DELETE FROM `m_icd10` WHERE id = 2933;
DELETE FROM `m_icd10` WHERE id = 2934;
DELETE FROM `m_icd10` WHERE id = 2935;
DELETE FROM `m_icd10` WHERE id = 2936;
DELETE FROM `m_icd10` WHERE id = 2937;
DELETE FROM `m_icd10` WHERE id = 2938;
DELETE FROM `m_icd10` WHERE id = 2939;
DELETE FROM `m_icd10` WHERE id = 2940;
DELETE FROM `m_icd10` WHERE id = 2941;
DELETE FROM `m_icd10` WHERE id = 2942;
DELETE FROM `m_icd10` WHERE id = 2943;
DELETE FROM `m_icd10` WHERE id = 2944;
DELETE FROM `m_icd10` WHERE id = 2945;
DELETE FROM `m_icd10` WHERE id = 2946;
DELETE FROM `m_icd10` WHERE id = 2947;
DELETE FROM `m_icd10` WHERE id = 2948;
DELETE FROM `m_icd10` WHERE id = 2949;
DELETE FROM `m_icd10` WHERE id = 2950;
DELETE FROM `m_icd10` WHERE id = 2951;
DELETE FROM `m_icd10` WHERE id = 2952;
DELETE FROM `m_icd10` WHERE id = 2953;
DELETE FROM `m_icd10` WHERE id = 2954;
DELETE FROM `m_icd10` WHERE id = 2955;
DELETE FROM `m_icd10` WHERE id = 2956;
DELETE FROM `m_icd10` WHERE id = 2957;
DELETE FROM `m_icd10` WHERE id = 2958;
DELETE FROM `m_icd10` WHERE id = 2959;
DELETE FROM `m_icd10` WHERE id = 2960;
DELETE FROM `m_icd10` WHERE id = 2961;
DELETE FROM `m_icd10` WHERE id = 2962;
DELETE FROM `m_icd10` WHERE id = 2963;
DELETE FROM `m_icd10` WHERE id = 2964;
DELETE FROM `m_icd10` WHERE id = 2965;
DELETE FROM `m_icd10` WHERE id = 2966;
DELETE FROM `m_icd10` WHERE id = 2967;
DELETE FROM `m_icd10` WHERE id = 2968;
DELETE FROM `m_icd10` WHERE id = 2969;
DELETE FROM `m_icd10` WHERE id = 2970;
DELETE FROM `m_icd10` WHERE id = 2971;
DELETE FROM `m_icd10` WHERE id = 2972;
DELETE FROM `m_icd10` WHERE id = 2973;
DELETE FROM `m_icd10` WHERE id = 2974;
DELETE FROM `m_icd10` WHERE id = 2975;
DELETE FROM `m_icd10` WHERE id = 2976;
DELETE FROM `m_icd10` WHERE id = 2977;
DELETE FROM `m_icd10` WHERE id = 2978;
DELETE FROM `m_icd10` WHERE id = 2979;
DELETE FROM `m_icd10` WHERE id = 2980;
DELETE FROM `m_icd10` WHERE id = 2981;
DELETE FROM `m_icd10` WHERE id = 2982;
DELETE FROM `m_icd10` WHERE id = 2983;
DELETE FROM `m_icd10` WHERE id = 2984;
DELETE FROM `m_icd10` WHERE id = 2985;
DELETE FROM `m_icd10` WHERE id = 2986;
DELETE FROM `m_icd10` WHERE id = 2987;
DELETE FROM `m_icd10` WHERE id = 2988;
DELETE FROM `m_icd10` WHERE id = 2989;
DELETE FROM `m_icd10` WHERE id = 2990;
DELETE FROM `m_icd10` WHERE id = 2991;
DELETE FROM `m_icd10` WHERE id = 2992;
DELETE FROM `m_icd10` WHERE id = 2993;
DELETE FROM `m_icd10` WHERE id = 2994;
DELETE FROM `m_icd10` WHERE id = 2995;
DELETE FROM `m_icd10` WHERE id = 2996;
DELETE FROM `m_icd10` WHERE id = 2997;
DELETE FROM `m_icd10` WHERE id = 2998;
DELETE FROM `m_icd10` WHERE id = 2999;
DELETE FROM `m_icd10` WHERE id = 3000;
DELETE FROM `m_icd10` WHERE id = 3001;
DELETE FROM `m_icd10` WHERE id = 3002;
DELETE FROM `m_icd10` WHERE id = 3003;
DELETE FROM `m_icd10` WHERE id = 3004;
DELETE FROM `m_icd10` WHERE id = 3005;
DELETE FROM `m_icd10` WHERE id = 3006;
DELETE FROM `m_icd10` WHERE id = 3007;
DELETE FROM `m_icd10` WHERE id = 3008;
DELETE FROM `m_icd10` WHERE id = 3009;
DELETE FROM `m_icd10` WHERE id = 3010;
DELETE FROM `m_icd10` WHERE id = 3011;
DELETE FROM `m_icd10` WHERE id = 3012;
DELETE FROM `m_icd10` WHERE id = 3013;
DELETE FROM `m_icd10` WHERE id = 3014;
DELETE FROM `m_icd10` WHERE id = 3015;
DELETE FROM `m_icd10` WHERE id = 3016;
DELETE FROM `m_icd10` WHERE id = 3017;
DELETE FROM `m_icd10` WHERE id = 3018;
DELETE FROM `m_icd10` WHERE id = 3019;
DELETE FROM `m_icd10` WHERE id = 3020;
DELETE FROM `m_icd10` WHERE id = 3021;
DELETE FROM `m_icd10` WHERE id = 3022;
DELETE FROM `m_icd10` WHERE id = 3023;
DELETE FROM `m_icd10` WHERE id = 3024;
DELETE FROM `m_icd10` WHERE id = 3025;
DELETE FROM `m_icd10` WHERE id = 3026;
DELETE FROM `m_icd10` WHERE id = 3027;
DELETE FROM `m_icd10` WHERE id = 3028;
DELETE FROM `m_icd10` WHERE id = 3029;
DELETE FROM `m_icd10` WHERE id = 3030;
DELETE FROM `m_icd10` WHERE id = 3031;
DELETE FROM `m_icd10` WHERE id = 3032;
DELETE FROM `m_icd10` WHERE id = 3033;
DELETE FROM `m_icd10` WHERE id = 3034;
DELETE FROM `m_icd10` WHERE id = 3035;
DELETE FROM `m_icd10` WHERE id = 3036;
DELETE FROM `m_icd10` WHERE id = 3037;
DELETE FROM `m_icd10` WHERE id = 3038;
DELETE FROM `m_icd10` WHERE id = 3039;
DELETE FROM `m_icd10` WHERE id = 3040;
DELETE FROM `m_icd10` WHERE id = 3041;
DELETE FROM `m_icd10` WHERE id = 3042;
DELETE FROM `m_icd10` WHERE id = 3043;
DELETE FROM `m_icd10` WHERE id = 3044;
DELETE FROM `m_icd10` WHERE id = 3045;
DELETE FROM `m_icd10` WHERE id = 3046;
DELETE FROM `m_icd10` WHERE id = 3047;
DELETE FROM `m_icd10` WHERE id = 3048;
DELETE FROM `m_icd10` WHERE id = 3049;
DELETE FROM `m_icd10` WHERE id = 3050;
DELETE FROM `m_icd10` WHERE id = 3051;
DELETE FROM `m_icd10` WHERE id = 3052;
DELETE FROM `m_icd10` WHERE id = 3053;
DELETE FROM `m_icd10` WHERE id = 3054;
DELETE FROM `m_icd10` WHERE id = 3055;
DELETE FROM `m_icd10` WHERE id = 3056;
DELETE FROM `m_icd10` WHERE id = 3057;
DELETE FROM `m_icd10` WHERE id = 3058;
DELETE FROM `m_icd10` WHERE id = 3059;
DELETE FROM `m_icd10` WHERE id = 3060;
DELETE FROM `m_icd10` WHERE id = 3061;
DELETE FROM `m_icd10` WHERE id = 3062;
DELETE FROM `m_icd10` WHERE id = 3063;
DELETE FROM `m_icd10` WHERE id = 3064;
DELETE FROM `m_icd10` WHERE id = 3065;
DELETE FROM `m_icd10` WHERE id = 3066;
DELETE FROM `m_icd10` WHERE id = 3067;
DELETE FROM `m_icd10` WHERE id = 3068;
DELETE FROM `m_icd10` WHERE id = 3069;
DELETE FROM `m_icd10` WHERE id = 3070;
DELETE FROM `m_icd10` WHERE id = 3071;
DELETE FROM `m_icd10` WHERE id = 3072;
DELETE FROM `m_icd10` WHERE id = 3073;
DELETE FROM `m_icd10` WHERE id = 3074;
DELETE FROM `m_icd10` WHERE id = 3075;
DELETE FROM `m_icd10` WHERE id = 3076;
DELETE FROM `m_icd10` WHERE id = 3077;
DELETE FROM `m_icd10` WHERE id = 3078;
DELETE FROM `m_icd10` WHERE id = 3079;
DELETE FROM `m_icd10` WHERE id = 3080;
DELETE FROM `m_icd10` WHERE id = 3081;
DELETE FROM `m_icd10` WHERE id = 3082;
DELETE FROM `m_icd10` WHERE id = 3083;
DELETE FROM `m_icd10` WHERE id = 3084;
DELETE FROM `m_icd10` WHERE id = 3085;
DELETE FROM `m_icd10` WHERE id = 3086;
DELETE FROM `m_icd10` WHERE id = 3087;
DELETE FROM `m_icd10` WHERE id = 3088;
DELETE FROM `m_icd10` WHERE id = 3089;
DELETE FROM `m_icd10` WHERE id = 3090;
DELETE FROM `m_icd10` WHERE id = 3091;
DELETE FROM `m_icd10` WHERE id = 3092;
DELETE FROM `m_icd10` WHERE id = 3093;
DELETE FROM `m_icd10` WHERE id = 3094;
DELETE FROM `m_icd10` WHERE id = 3095;
DELETE FROM `m_icd10` WHERE id = 3096;
DELETE FROM `m_icd10` WHERE id = 3097;
DELETE FROM `m_icd10` WHERE id = 3098;
DELETE FROM `m_icd10` WHERE id = 3099;
DELETE FROM `m_icd10` WHERE id = 3100;
DELETE FROM `m_icd10` WHERE id = 3101;
DELETE FROM `m_icd10` WHERE id = 3102;
DELETE FROM `m_icd10` WHERE id = 3103;
DELETE FROM `m_icd10` WHERE id = 3104;
DELETE FROM `m_icd10` WHERE id = 3105;
DELETE FROM `m_icd10` WHERE id = 3106;
DELETE FROM `m_icd10` WHERE id = 3107;
DELETE FROM `m_icd10` WHERE id = 3108;
DELETE FROM `m_icd10` WHERE id = 3109;
DELETE FROM `m_icd10` WHERE id = 3110;
DELETE FROM `m_icd10` WHERE id = 3111;
DELETE FROM `m_icd10` WHERE id = 3112;
DELETE FROM `m_icd10` WHERE id = 3113;
DELETE FROM `m_icd10` WHERE id = 3114;
DELETE FROM `m_icd10` WHERE id = 3115;
DELETE FROM `m_icd10` WHERE id = 3116;
DELETE FROM `m_icd10` WHERE id = 3117;
DELETE FROM `m_icd10` WHERE id = 3118;
DELETE FROM `m_icd10` WHERE id = 3119;
DELETE FROM `m_icd10` WHERE id = 3120;
DELETE FROM `m_icd10` WHERE id = 3121;
DELETE FROM `m_icd10` WHERE id = 3122;
DELETE FROM `m_icd10` WHERE id = 3123;
DELETE FROM `m_icd10` WHERE id = 3124;
DELETE FROM `m_icd10` WHERE id = 3125;
DELETE FROM `m_icd10` WHERE id = 3126;
DELETE FROM `m_icd10` WHERE id = 3127;
DELETE FROM `m_icd10` WHERE id = 3128;
DELETE FROM `m_icd10` WHERE id = 3129;
DELETE FROM `m_icd10` WHERE id = 3130;
DELETE FROM `m_icd10` WHERE id = 3131;
DELETE FROM `m_icd10` WHERE id = 3132;
DELETE FROM `m_icd10` WHERE id = 3133;
DELETE FROM `m_icd10` WHERE id = 3134;
DELETE FROM `m_icd10` WHERE id = 3135;
DELETE FROM `m_icd10` WHERE id = 3136;
DELETE FROM `m_icd10` WHERE id = 3137;
DELETE FROM `m_icd10` WHERE id = 3138;
DELETE FROM `m_icd10` WHERE id = 3139;
DELETE FROM `m_icd10` WHERE id = 3140;
DELETE FROM `m_icd10` WHERE id = 3141;
DELETE FROM `m_icd10` WHERE id = 3142;
DELETE FROM `m_icd10` WHERE id = 3143;
DELETE FROM `m_icd10` WHERE id = 3144;
DELETE FROM `m_icd10` WHERE id = 3145;
DELETE FROM `m_icd10` WHERE id = 3146;
DELETE FROM `m_icd10` WHERE id = 3147;
DELETE FROM `m_icd10` WHERE id = 3148;
DELETE FROM `m_icd10` WHERE id = 3149;
DELETE FROM `m_icd10` WHERE id = 3150;
DELETE FROM `m_icd10` WHERE id = 3151;
DELETE FROM `m_icd10` WHERE id = 3152;
DELETE FROM `m_icd10` WHERE id = 3153;
DELETE FROM `m_icd10` WHERE id = 3154;
DELETE FROM `m_icd10` WHERE id = 3155;
DELETE FROM `m_icd10` WHERE id = 3156;
DELETE FROM `m_icd10` WHERE id = 3157;
DELETE FROM `m_icd10` WHERE id = 3158;
DELETE FROM `m_icd10` WHERE id = 3159;
DELETE FROM `m_icd10` WHERE id = 3160;
DELETE FROM `m_icd10` WHERE id = 3161;
DELETE FROM `m_icd10` WHERE id = 3162;
DELETE FROM `m_icd10` WHERE id = 3163;
DELETE FROM `m_icd10` WHERE id = 3164;
DELETE FROM `m_icd10` WHERE id = 3165;
DELETE FROM `m_icd10` WHERE id = 3166;
DELETE FROM `m_icd10` WHERE id = 3167;
DELETE FROM `m_icd10` WHERE id = 3168;
DELETE FROM `m_icd10` WHERE id = 3169;
DELETE FROM `m_icd10` WHERE id = 3170;
DELETE FROM `m_icd10` WHERE id = 3171;
DELETE FROM `m_icd10` WHERE id = 3172;
DELETE FROM `m_icd10` WHERE id = 3173;
DELETE FROM `m_icd10` WHERE id = 3174;
DELETE FROM `m_icd10` WHERE id = 3175;
DELETE FROM `m_icd10` WHERE id = 3176;
DELETE FROM `m_icd10` WHERE id = 3177;
DELETE FROM `m_icd10` WHERE id = 3178;
DELETE FROM `m_icd10` WHERE id = 3179;
DELETE FROM `m_icd10` WHERE id = 3180;
DELETE FROM `m_icd10` WHERE id = 3181;
DELETE FROM `m_icd10` WHERE id = 3182;
DELETE FROM `m_icd10` WHERE id = 3183;
DELETE FROM `m_icd10` WHERE id = 3184;
DELETE FROM `m_icd10` WHERE id = 3185;
DELETE FROM `m_icd10` WHERE id = 3186;
DELETE FROM `m_icd10` WHERE id = 3187;
DELETE FROM `m_icd10` WHERE id = 3188;
DELETE FROM `m_icd10` WHERE id = 3189;

DELETE FROM `m_icd10` WHERE id = 4769;
DELETE FROM `m_icd10` WHERE id = 4770;
DELETE FROM `m_icd10` WHERE id = 4771;
DELETE FROM `m_icd10` WHERE id = 4772;
DELETE FROM `m_icd10` WHERE id = 4773;
DELETE FROM `m_icd10` WHERE id = 4774;
DELETE FROM `m_icd10` WHERE id = 4775;
DELETE FROM `m_icd10` WHERE id = 4776;
DELETE FROM `m_icd10` WHERE id = 4777;
DELETE FROM `m_icd10` WHERE id = 4778;
DELETE FROM `m_icd10` WHERE id = 4779;
DELETE FROM `m_icd10` WHERE id = 4780;
DELETE FROM `m_icd10` WHERE id = 4781;
DELETE FROM `m_icd10` WHERE id = 4782;
DELETE FROM `m_icd10` WHERE id = 4783;
DELETE FROM `m_icd10` WHERE id = 4784;
DELETE FROM `m_icd10` WHERE id = 4785;
DELETE FROM `m_icd10` WHERE id = 4786;
DELETE FROM `m_icd10` WHERE id = 4787;
DELETE FROM `m_icd10` WHERE id = 4788;
DELETE FROM `m_icd10` WHERE id = 4789;
DELETE FROM `m_icd10` WHERE id = 4790;
DELETE FROM `m_icd10` WHERE id = 4791;
DELETE FROM `m_icd10` WHERE id = 4792;
DELETE FROM `m_icd10` WHERE id = 4793;
DELETE FROM `m_icd10` WHERE id = 4794;
DELETE FROM `m_icd10` WHERE id = 4795;
DELETE FROM `m_icd10` WHERE id = 4796;
DELETE FROM `m_icd10` WHERE id = 4797;
DELETE FROM `m_icd10` WHERE id = 4798;
DELETE FROM `m_icd10` WHERE id = 4799;
DELETE FROM `m_icd10` WHERE id = 4800;
DELETE FROM `m_icd10` WHERE id = 4801;
DELETE FROM `m_icd10` WHERE id = 4802;
DELETE FROM `m_icd10` WHERE id = 4803;
DELETE FROM `m_icd10` WHERE id = 4804;
DELETE FROM `m_icd10` WHERE id = 4805;
DELETE FROM `m_icd10` WHERE id = 4806;
DELETE FROM `m_icd10` WHERE id = 4807;
DELETE FROM `m_icd10` WHERE id = 4808;
DELETE FROM `m_icd10` WHERE id = 4809;
DELETE FROM `m_icd10` WHERE id = 4810;
DELETE FROM `m_icd10` WHERE id = 4811;
DELETE FROM `m_icd10` WHERE id = 4812;
DELETE FROM `m_icd10` WHERE id = 4813;
DELETE FROM `m_icd10` WHERE id = 4814;
DELETE FROM `m_icd10` WHERE id = 4815;
DELETE FROM `m_icd10` WHERE id = 4816;
DELETE FROM `m_icd10` WHERE id = 4817;
DELETE FROM `m_icd10` WHERE id = 4818;
DELETE FROM `m_icd10` WHERE id = 4819;
DELETE FROM `m_icd10` WHERE id = 4820;
DELETE FROM `m_icd10` WHERE id = 4821;
DELETE FROM `m_icd10` WHERE id = 4822;
DELETE FROM `m_icd10` WHERE id = 4823;
DELETE FROM `m_icd10` WHERE id = 4824;
DELETE FROM `m_icd10` WHERE id = 4825;
DELETE FROM `m_icd10` WHERE id = 4826;
DELETE FROM `m_icd10` WHERE id = 4827;
DELETE FROM `m_icd10` WHERE id = 4828;
DELETE FROM `m_icd10` WHERE id = 4829;
DELETE FROM `m_icd10` WHERE id = 4830;
DELETE FROM `m_icd10` WHERE id = 4831;
DELETE FROM `m_icd10` WHERE id = 4832;
DELETE FROM `m_icd10` WHERE id = 4833;
DELETE FROM `m_icd10` WHERE id = 4834;
DELETE FROM `m_icd10` WHERE id = 4835;
DELETE FROM `m_icd10` WHERE id = 4836;
DELETE FROM `m_icd10` WHERE id = 4837;
DELETE FROM `m_icd10` WHERE id = 4838;
DELETE FROM `m_icd10` WHERE id = 4839;
DELETE FROM `m_icd10` WHERE id = 4840;
DELETE FROM `m_icd10` WHERE id = 4841;
DELETE FROM `m_icd10` WHERE id = 4842;
DELETE FROM `m_icd10` WHERE id = 4843;
DELETE FROM `m_icd10` WHERE id = 4844;
DELETE FROM `m_icd10` WHERE id = 4845;
DELETE FROM `m_icd10` WHERE id = 4846;
DELETE FROM `m_icd10` WHERE id = 4847;
DELETE FROM `m_icd10` WHERE id = 4848;
DELETE FROM `m_icd10` WHERE id = 4849;
DELETE FROM `m_icd10` WHERE id = 4850;
DELETE FROM `m_icd10` WHERE id = 4851;
DELETE FROM `m_icd10` WHERE id = 4852;
DELETE FROM `m_icd10` WHERE id = 4853;
DELETE FROM `m_icd10` WHERE id = 4854;
DELETE FROM `m_icd10` WHERE id = 4855;
DELETE FROM `m_icd10` WHERE id = 4856;
DELETE FROM `m_icd10` WHERE id = 4857;
DELETE FROM `m_icd10` WHERE id = 4858;
DELETE FROM `m_icd10` WHERE id = 4859;
DELETE FROM `m_icd10` WHERE id = 4860;
DELETE FROM `m_icd10` WHERE id = 4861;
DELETE FROM `m_icd10` WHERE id = 4862;
DELETE FROM `m_icd10` WHERE id = 4863;
DELETE FROM `m_icd10` WHERE id = 4864;
DELETE FROM `m_icd10` WHERE id = 4865;
DELETE FROM `m_icd10` WHERE id = 4866;
DELETE FROM `m_icd10` WHERE id = 4867;
DELETE FROM `m_icd10` WHERE id = 4868;
DELETE FROM `m_icd10` WHERE id = 4869;
DELETE FROM `m_icd10` WHERE id = 4870;
DELETE FROM `m_icd10` WHERE id = 4871;
DELETE FROM `m_icd10` WHERE id = 4872;
DELETE FROM `m_icd10` WHERE id = 4873;
DELETE FROM `m_icd10` WHERE id = 4874;
DELETE FROM `m_icd10` WHERE id = 4875;
DELETE FROM `m_icd10` WHERE id = 4876;
DELETE FROM `m_icd10` WHERE id = 4877;
DELETE FROM `m_icd10` WHERE id = 4878;
DELETE FROM `m_icd10` WHERE id = 4879;
DELETE FROM `m_icd10` WHERE id = 4880;
DELETE FROM `m_icd10` WHERE id = 4881;
DELETE FROM `m_icd10` WHERE id = 4882;
DELETE FROM `m_icd10` WHERE id = 4883;
DELETE FROM `m_icd10` WHERE id = 4884;
DELETE FROM `m_icd10` WHERE id = 4885;
DELETE FROM `m_icd10` WHERE id = 4886;
DELETE FROM `m_icd10` WHERE id = 4887;
DELETE FROM `m_icd10` WHERE id = 4888;
DELETE FROM `m_icd10` WHERE id = 4889;
DELETE FROM `m_icd10` WHERE id = 4890;
DELETE FROM `m_icd10` WHERE id = 4891;
DELETE FROM `m_icd10` WHERE id = 4892;
DELETE FROM `m_icd10` WHERE id = 4893;
DELETE FROM `m_icd10` WHERE id = 4894;
DELETE FROM `m_icd10` WHERE id = 4895;
DELETE FROM `m_icd10` WHERE id = 4896;
DELETE FROM `m_icd10` WHERE id = 4897;
DELETE FROM `m_icd10` WHERE id = 4898;
DELETE FROM `m_icd10` WHERE id = 4899;
DELETE FROM `m_icd10` WHERE id = 4900;
DELETE FROM `m_icd10` WHERE id = 4901;
DELETE FROM `m_icd10` WHERE id = 4902;
DELETE FROM `m_icd10` WHERE id = 4903;
DELETE FROM `m_icd10` WHERE id = 4904;
DELETE FROM `m_icd10` WHERE id = 4905;
DELETE FROM `m_icd10` WHERE id = 4906;
DELETE FROM `m_icd10` WHERE id = 4907;
DELETE FROM `m_icd10` WHERE id = 4908;
DELETE FROM `m_icd10` WHERE id = 4909;
DELETE FROM `m_icd10` WHERE id = 4910;
DELETE FROM `m_icd10` WHERE id = 4911;
DELETE FROM `m_icd10` WHERE id = 4912;
DELETE FROM `m_icd10` WHERE id = 4913;
DELETE FROM `m_icd10` WHERE id = 4914;
DELETE FROM `m_icd10` WHERE id = 4915;
DELETE FROM `m_icd10` WHERE id = 4916;
DELETE FROM `m_icd10` WHERE id = 4917;
DELETE FROM `m_icd10` WHERE id = 4918;
DELETE FROM `m_icd10` WHERE id = 4919;
DELETE FROM `m_icd10` WHERE id = 4920;
DELETE FROM `m_icd10` WHERE id = 4921;
DELETE FROM `m_icd10` WHERE id = 4922;
DELETE FROM `m_icd10` WHERE id = 4923;
DELETE FROM `m_icd10` WHERE id = 4924;
DELETE FROM `m_icd10` WHERE id = 4925;
DELETE FROM `m_icd10` WHERE id = 4926;
DELETE FROM `m_icd10` WHERE id = 4927;
DELETE FROM `m_icd10` WHERE id = 4928;
DELETE FROM `m_icd10` WHERE id = 4929;
DELETE FROM `m_icd10` WHERE id = 4930;
DELETE FROM `m_icd10` WHERE id = 4931;
DELETE FROM `m_icd10` WHERE id = 4932;
DELETE FROM `m_icd10` WHERE id = 4933;
DELETE FROM `m_icd10` WHERE id = 4934;
DELETE FROM `m_icd10` WHERE id = 4935;
DELETE FROM `m_icd10` WHERE id = 4936;
DELETE FROM `m_icd10` WHERE id = 4937;
DELETE FROM `m_icd10` WHERE id = 4938;
DELETE FROM `m_icd10` WHERE id = 4939;
DELETE FROM `m_icd10` WHERE id = 4940;
DELETE FROM `m_icd10` WHERE id = 4941;
DELETE FROM `m_icd10` WHERE id = 4942;
DELETE FROM `m_icd10` WHERE id = 4943;
DELETE FROM `m_icd10` WHERE id = 4944;
DELETE FROM `m_icd10` WHERE id = 4945;
DELETE FROM `m_icd10` WHERE id = 4946;
DELETE FROM `m_icd10` WHERE id = 4947;
DELETE FROM `m_icd10` WHERE id = 4948;
DELETE FROM `m_icd10` WHERE id = 4949;
DELETE FROM `m_icd10` WHERE id = 4950;
DELETE FROM `m_icd10` WHERE id = 4951;
DELETE FROM `m_icd10` WHERE id = 4952;
DELETE FROM `m_icd10` WHERE id = 4953;
DELETE FROM `m_icd10` WHERE id = 4954;
DELETE FROM `m_icd10` WHERE id = 4955;
DELETE FROM `m_icd10` WHERE id = 4956;
DELETE FROM `m_icd10` WHERE id = 4957;
DELETE FROM `m_icd10` WHERE id = 4958;
DELETE FROM `m_icd10` WHERE id = 4959;
DELETE FROM `m_icd10` WHERE id = 4960;
DELETE FROM `m_icd10` WHERE id = 4961;
DELETE FROM `m_icd10` WHERE id = 4962;
DELETE FROM `m_icd10` WHERE id = 4963;
DELETE FROM `m_icd10` WHERE id = 4964;
DELETE FROM `m_icd10` WHERE id = 4965;
DELETE FROM `m_icd10` WHERE id = 4966;
DELETE FROM `m_icd10` WHERE id = 4967;
DELETE FROM `m_icd10` WHERE id = 4968;
DELETE FROM `m_icd10` WHERE id = 4969;
DELETE FROM `m_icd10` WHERE id = 4970;
DELETE FROM `m_icd10` WHERE id = 4971;
DELETE FROM `m_icd10` WHERE id = 4972;
DELETE FROM `m_icd10` WHERE id = 4973;
DELETE FROM `m_icd10` WHERE id = 4974;
DELETE FROM `m_icd10` WHERE id = 4975;
DELETE FROM `m_icd10` WHERE id = 4976;
DELETE FROM `m_icd10` WHERE id = 4977;
DELETE FROM `m_icd10` WHERE id = 4978;
DELETE FROM `m_icd10` WHERE id = 4979;
DELETE FROM `m_icd10` WHERE id = 4980;
DELETE FROM `m_icd10` WHERE id = 4981;
DELETE FROM `m_icd10` WHERE id = 4982;
DELETE FROM `m_icd10` WHERE id = 4983;
DELETE FROM `m_icd10` WHERE id = 4984;
DELETE FROM `m_icd10` WHERE id = 4985;
DELETE FROM `m_icd10` WHERE id = 4986;
DELETE FROM `m_icd10` WHERE id = 4987;
DELETE FROM `m_icd10` WHERE id = 4988;
DELETE FROM `m_icd10` WHERE id = 4989;
DELETE FROM `m_icd10` WHERE id = 4990;
DELETE FROM `m_icd10` WHERE id = 4991;
DELETE FROM `m_icd10` WHERE id = 4992;
DELETE FROM `m_icd10` WHERE id = 4993;
DELETE FROM `m_icd10` WHERE id = 4994;
DELETE FROM `m_icd10` WHERE id = 4995;
DELETE FROM `m_icd10` WHERE id = 4996;
DELETE FROM `m_icd10` WHERE id = 4997;
DELETE FROM `m_icd10` WHERE id = 4998;
DELETE FROM `m_icd10` WHERE id = 4999;
DELETE FROM `m_icd10` WHERE id = 5000;
DELETE FROM `m_icd10` WHERE id = 5001;
DELETE FROM `m_icd10` WHERE id = 5002;
DELETE FROM `m_icd10` WHERE id = 5003;
DELETE FROM `m_icd10` WHERE id = 5004;
DELETE FROM `m_icd10` WHERE id = 5005;
DELETE FROM `m_icd10` WHERE id = 5006;
DELETE FROM `m_icd10` WHERE id = 5007;
DELETE FROM `m_icd10` WHERE id = 5008;
DELETE FROM `m_icd10` WHERE id = 5009;
DELETE FROM `m_icd10` WHERE id = 5010;
DELETE FROM `m_icd10` WHERE id = 5011;
DELETE FROM `m_icd10` WHERE id = 5012;
DELETE FROM `m_icd10` WHERE id = 5013;
DELETE FROM `m_icd10` WHERE id = 5014;
DELETE FROM `m_icd10` WHERE id = 5015;
DELETE FROM `m_icd10` WHERE id = 5016;
DELETE FROM `m_icd10` WHERE id = 5017;
DELETE FROM `m_icd10` WHERE id = 5018;
DELETE FROM `m_icd10` WHERE id = 5019;
DELETE FROM `m_icd10` WHERE id = 5020;
DELETE FROM `m_icd10` WHERE id = 5021;
DELETE FROM `m_icd10` WHERE id = 5022;
DELETE FROM `m_icd10` WHERE id = 5023;
DELETE FROM `m_icd10` WHERE id = 5024;
DELETE FROM `m_icd10` WHERE id = 5025;
DELETE FROM `m_icd10` WHERE id = 5026;
DELETE FROM `m_icd10` WHERE id = 5027;
DELETE FROM `m_icd10` WHERE id = 5028;
DELETE FROM `m_icd10` WHERE id = 5029;
DELETE FROM `m_icd10` WHERE id = 5030;
DELETE FROM `m_icd10` WHERE id = 5031;
DELETE FROM `m_icd10` WHERE id = 5032;
DELETE FROM `m_icd10` WHERE id = 5033;
DELETE FROM `m_icd10` WHERE id = 5034;
DELETE FROM `m_icd10` WHERE id = 5035;
DELETE FROM `m_icd10` WHERE id = 5036;
DELETE FROM `m_icd10` WHERE id = 5037;
DELETE FROM `m_icd10` WHERE id = 5038;
DELETE FROM `m_icd10` WHERE id = 5039;
DELETE FROM `m_icd10` WHERE id = 5040;
DELETE FROM `m_icd10` WHERE id = 5041;
DELETE FROM `m_icd10` WHERE id = 5042;
DELETE FROM `m_icd10` WHERE id = 5043;
DELETE FROM `m_icd10` WHERE id = 5044;
DELETE FROM `m_icd10` WHERE id = 5045;
DELETE FROM `m_icd10` WHERE id = 5046;
DELETE FROM `m_icd10` WHERE id = 5047;
DELETE FROM `m_icd10` WHERE id = 5048;
DELETE FROM `m_icd10` WHERE id = 5049;
DELETE FROM `m_icd10` WHERE id = 5050;
DELETE FROM `m_icd10` WHERE id = 5051;
DELETE FROM `m_icd10` WHERE id = 5052;
DELETE FROM `m_icd10` WHERE id = 5053;
DELETE FROM `m_icd10` WHERE id = 5054;
DELETE FROM `m_icd10` WHERE id = 5055;
DELETE FROM `m_icd10` WHERE id = 5056;
DELETE FROM `m_icd10` WHERE id = 5057;
DELETE FROM `m_icd10` WHERE id = 5058;
DELETE FROM `m_icd10` WHERE id = 5059;
DELETE FROM `m_icd10` WHERE id = 5060;
DELETE FROM `m_icd10` WHERE id = 5061;
DELETE FROM `m_icd10` WHERE id = 5062;
DELETE FROM `m_icd10` WHERE id = 5063;
DELETE FROM `m_icd10` WHERE id = 5064;
DELETE FROM `m_icd10` WHERE id = 5065;
DELETE FROM `m_icd10` WHERE id = 5066;
DELETE FROM `m_icd10` WHERE id = 5067;
DELETE FROM `m_icd10` WHERE id = 5068;
DELETE FROM `m_icd10` WHERE id = 5069;
DELETE FROM `m_icd10` WHERE id = 5070;
DELETE FROM `m_icd10` WHERE id = 5071;
DELETE FROM `m_icd10` WHERE id = 5072;
DELETE FROM `m_icd10` WHERE id = 5073;
DELETE FROM `m_icd10` WHERE id = 5074;
DELETE FROM `m_icd10` WHERE id = 5075;
DELETE FROM `m_icd10` WHERE id = 5076;
DELETE FROM `m_icd10` WHERE id = 5077;
DELETE FROM `m_icd10` WHERE id = 5078;
DELETE FROM `m_icd10` WHERE id = 5079;
DELETE FROM `m_icd10` WHERE id = 5080;
DELETE FROM `m_icd10` WHERE id = 5081;
DELETE FROM `m_icd10` WHERE id = 5082;
DELETE FROM `m_icd10` WHERE id = 5083;
DELETE FROM `m_icd10` WHERE id = 5084;
DELETE FROM `m_icd10` WHERE id = 5085;
DELETE FROM `m_icd10` WHERE id = 5086;
DELETE FROM `m_icd10` WHERE id = 5087;
DELETE FROM `m_icd10` WHERE id = 5088;
DELETE FROM `m_icd10` WHERE id = 5089;
DELETE FROM `m_icd10` WHERE id = 5090;
DELETE FROM `m_icd10` WHERE id = 5091;
DELETE FROM `m_icd10` WHERE id = 5092;
DELETE FROM `m_icd10` WHERE id = 5093;
DELETE FROM `m_icd10` WHERE id = 5094;
DELETE FROM `m_icd10` WHERE id = 5095;
DELETE FROM `m_icd10` WHERE id = 5096;
DELETE FROM `m_icd10` WHERE id = 5097;
DELETE FROM `m_icd10` WHERE id = 5098;
DELETE FROM `m_icd10` WHERE id = 5099;
DELETE FROM `m_icd10` WHERE id = 5100;
DELETE FROM `m_icd10` WHERE id = 5101;
DELETE FROM `m_icd10` WHERE id = 5102;
DELETE FROM `m_icd10` WHERE id = 5103;
DELETE FROM `m_icd10` WHERE id = 5104;
DELETE FROM `m_icd10` WHERE id = 5105;
DELETE FROM `m_icd10` WHERE id = 5106;
DELETE FROM `m_icd10` WHERE id = 5107;
DELETE FROM `m_icd10` WHERE id = 5108;
DELETE FROM `m_icd10` WHERE id = 5109;
DELETE FROM `m_icd10` WHERE id = 5110;
DELETE FROM `m_icd10` WHERE id = 5111;
DELETE FROM `m_icd10` WHERE id = 5112;
DELETE FROM `m_icd10` WHERE id = 5113;
DELETE FROM `m_icd10` WHERE id = 5114;
DELETE FROM `m_icd10` WHERE id = 5115;
DELETE FROM `m_icd10` WHERE id = 5116;
DELETE FROM `m_icd10` WHERE id = 5117;
DELETE FROM `m_icd10` WHERE id = 5118;
DELETE FROM `m_icd10` WHERE id = 5119;
DELETE FROM `m_icd10` WHERE id = 5120;
DELETE FROM `m_icd10` WHERE id = 5121;
DELETE FROM `m_icd10` WHERE id = 5122;
DELETE FROM `m_icd10` WHERE id = 5123;
DELETE FROM `m_icd10` WHERE id = 5124;
DELETE FROM `m_icd10` WHERE id = 5125;
DELETE FROM `m_icd10` WHERE id = 5126;
DELETE FROM `m_icd10` WHERE id = 5127;
DELETE FROM `m_icd10` WHERE id = 5128;
DELETE FROM `m_icd10` WHERE id = 5129;
DELETE FROM `m_icd10` WHERE id = 5130;
DELETE FROM `m_icd10` WHERE id = 5131;
DELETE FROM `m_icd10` WHERE id = 5132;
DELETE FROM `m_icd10` WHERE id = 5133;
DELETE FROM `m_icd10` WHERE id = 5134;
DELETE FROM `m_icd10` WHERE id = 5135;
DELETE FROM `m_icd10` WHERE id = 5136;
DELETE FROM `m_icd10` WHERE id = 5137;
DELETE FROM `m_icd10` WHERE id = 5138;
DELETE FROM `m_icd10` WHERE id = 5139;
DELETE FROM `m_icd10` WHERE id = 5140;
DELETE FROM `m_icd10` WHERE id = 5141;
DELETE FROM `m_icd10` WHERE id = 5142;
DELETE FROM `m_icd10` WHERE id = 5143;
DELETE FROM `m_icd10` WHERE id = 5144;
DELETE FROM `m_icd10` WHERE id = 5145;
DELETE FROM `m_icd10` WHERE id = 5146;
DELETE FROM `m_icd10` WHERE id = 5147;
DELETE FROM `m_icd10` WHERE id = 5148;
DELETE FROM `m_icd10` WHERE id = 5149;
DELETE FROM `m_icd10` WHERE id = 5150;
DELETE FROM `m_icd10` WHERE id = 5151;
DELETE FROM `m_icd10` WHERE id = 5152;
DELETE FROM `m_icd10` WHERE id = 5153;
DELETE FROM `m_icd10` WHERE id = 5154;
DELETE FROM `m_icd10` WHERE id = 5155;
DELETE FROM `m_icd10` WHERE id = 5156;
DELETE FROM `m_icd10` WHERE id = 5157;
DELETE FROM `m_icd10` WHERE id = 5158;
DELETE FROM `m_icd10` WHERE id = 5159;
DELETE FROM `m_icd10` WHERE id = 5160;
DELETE FROM `m_icd10` WHERE id = 5161;
DELETE FROM `m_icd10` WHERE id = 5162;
DELETE FROM `m_icd10` WHERE id = 5163;
DELETE FROM `m_icd10` WHERE id = 5164;
DELETE FROM `m_icd10` WHERE id = 5165;
DELETE FROM `m_icd10` WHERE id = 5166;
DELETE FROM `m_icd10` WHERE id = 5167;
DELETE FROM `m_icd10` WHERE id = 5168;
DELETE FROM `m_icd10` WHERE id = 5169;
DELETE FROM `m_icd10` WHERE id = 5170;
DELETE FROM `m_icd10` WHERE id = 5171;
DELETE FROM `m_icd10` WHERE id = 5172;
DELETE FROM `m_icd10` WHERE id = 5173;
DELETE FROM `m_icd10` WHERE id = 5174;
DELETE FROM `m_icd10` WHERE id = 5175;
DELETE FROM `m_icd10` WHERE id = 5176;
DELETE FROM `m_icd10` WHERE id = 5177;
DELETE FROM `m_icd10` WHERE id = 5178;
DELETE FROM `m_icd10` WHERE id = 5179;
DELETE FROM `m_icd10` WHERE id = 5180;
DELETE FROM `m_icd10` WHERE id = 5181;
DELETE FROM `m_icd10` WHERE id = 5182;
DELETE FROM `m_icd10` WHERE id = 5183;
DELETE FROM `m_icd10` WHERE id = 5184;
DELETE FROM `m_icd10` WHERE id = 5185;
DELETE FROM `m_icd10` WHERE id = 5186;
DELETE FROM `m_icd10` WHERE id = 5187;
DELETE FROM `m_icd10` WHERE id = 5188;
DELETE FROM `m_icd10` WHERE id = 5189;
DELETE FROM `m_icd10` WHERE id = 5190;
DELETE FROM `m_icd10` WHERE id = 5191;
DELETE FROM `m_icd10` WHERE id = 5192;
DELETE FROM `m_icd10` WHERE id = 5193;
DELETE FROM `m_icd10` WHERE id = 5194;
DELETE FROM `m_icd10` WHERE id = 5195;
DELETE FROM `m_icd10` WHERE id = 5196;
DELETE FROM `m_icd10` WHERE id = 5197;
DELETE FROM `m_icd10` WHERE id = 5198;
DELETE FROM `m_icd10` WHERE id = 5199;
DELETE FROM `m_icd10` WHERE id = 5200;
DELETE FROM `m_icd10` WHERE id = 5201;
DELETE FROM `m_icd10` WHERE id = 5202;
DELETE FROM `m_icd10` WHERE id = 5203;
DELETE FROM `m_icd10` WHERE id = 5204;
DELETE FROM `m_icd10` WHERE id = 5205;
DELETE FROM `m_icd10` WHERE id = 5206;
DELETE FROM `m_icd10` WHERE id = 5207;
DELETE FROM `m_icd10` WHERE id = 5208;
DELETE FROM `m_icd10` WHERE id = 5209;
DELETE FROM `m_icd10` WHERE id = 5210;
DELETE FROM `m_icd10` WHERE id = 5211;
DELETE FROM `m_icd10` WHERE id = 5212;
DELETE FROM `m_icd10` WHERE id = 5213;
DELETE FROM `m_icd10` WHERE id = 5214;
DELETE FROM `m_icd10` WHERE id = 5215;
DELETE FROM `m_icd10` WHERE id = 5216;
DELETE FROM `m_icd10` WHERE id = 5217;
DELETE FROM `m_icd10` WHERE id = 5218;
DELETE FROM `m_icd10` WHERE id = 5219;
DELETE FROM `m_icd10` WHERE id = 5220;
DELETE FROM `m_icd10` WHERE id = 5221;
DELETE FROM `m_icd10` WHERE id = 5222;
DELETE FROM `m_icd10` WHERE id = 5223;
DELETE FROM `m_icd10` WHERE id = 5224;
DELETE FROM `m_icd10` WHERE id = 5225;
DELETE FROM `m_icd10` WHERE id = 5226;
DELETE FROM `m_icd10` WHERE id = 5227;
DELETE FROM `m_icd10` WHERE id = 5228;
DELETE FROM `m_icd10` WHERE id = 5229;
DELETE FROM `m_icd10` WHERE id = 5230;
DELETE FROM `m_icd10` WHERE id = 5231;
DELETE FROM `m_icd10` WHERE id = 5232;
DELETE FROM `m_icd10` WHERE id = 5233;
DELETE FROM `m_icd10` WHERE id = 5234;
DELETE FROM `m_icd10` WHERE id = 5235;
DELETE FROM `m_icd10` WHERE id = 5236;
DELETE FROM `m_icd10` WHERE id = 5237;
DELETE FROM `m_icd10` WHERE id = 5238;
DELETE FROM `m_icd10` WHERE id = 5239;
DELETE FROM `m_icd10` WHERE id = 5240;
DELETE FROM `m_icd10` WHERE id = 5241;
DELETE FROM `m_icd10` WHERE id = 5242;
DELETE FROM `m_icd10` WHERE id = 5243;
DELETE FROM `m_icd10` WHERE id = 5244;
DELETE FROM `m_icd10` WHERE id = 5245;
DELETE FROM `m_icd10` WHERE id = 5246;
DELETE FROM `m_icd10` WHERE id = 5247;
DELETE FROM `m_icd10` WHERE id = 5248;
DELETE FROM `m_icd10` WHERE id = 5249;
DELETE FROM `m_icd10` WHERE id = 5250;
DELETE FROM `m_icd10` WHERE id = 5251;
DELETE FROM `m_icd10` WHERE id = 5252;
DELETE FROM `m_icd10` WHERE id = 5253;
DELETE FROM `m_icd10` WHERE id = 5254;
DELETE FROM `m_icd10` WHERE id = 5255;
DELETE FROM `m_icd10` WHERE id = 5256;
DELETE FROM `m_icd10` WHERE id = 5257;
DELETE FROM `m_icd10` WHERE id = 5258;
DELETE FROM `m_icd10` WHERE id = 5259;
DELETE FROM `m_icd10` WHERE id = 5260;
DELETE FROM `m_icd10` WHERE id = 5261;
DELETE FROM `m_icd10` WHERE id = 5262;
DELETE FROM `m_icd10` WHERE id = 5263;
DELETE FROM `m_icd10` WHERE id = 5264;
DELETE FROM `m_icd10` WHERE id = 5265;
DELETE FROM `m_icd10` WHERE id = 5266;
DELETE FROM `m_icd10` WHERE id = 5267;
DELETE FROM `m_icd10` WHERE id = 5268;
DELETE FROM `m_icd10` WHERE id = 5269;
DELETE FROM `m_icd10` WHERE id = 5270;
DELETE FROM `m_icd10` WHERE id = 5271;
DELETE FROM `m_icd10` WHERE id = 5272;
DELETE FROM `m_icd10` WHERE id = 5273;
DELETE FROM `m_icd10` WHERE id = 5274;
DELETE FROM `m_icd10` WHERE id = 5275;
DELETE FROM `m_icd10` WHERE id = 5276;
DELETE FROM `m_icd10` WHERE id = 5277;
DELETE FROM `m_icd10` WHERE id = 5278;
DELETE FROM `m_icd10` WHERE id = 5279;
DELETE FROM `m_icd10` WHERE id = 5280;

DELETE FROM `m_icd10` WHERE id = 7268;
DELETE FROM `m_icd10` WHERE id = 7269;
DELETE FROM `m_icd10` WHERE id = 7270;
DELETE FROM `m_icd10` WHERE id = 7271;
DELETE FROM `m_icd10` WHERE id = 7272;
DELETE FROM `m_icd10` WHERE id = 7273;
DELETE FROM `m_icd10` WHERE id = 7274;
DELETE FROM `m_icd10` WHERE id = 7275;
DELETE FROM `m_icd10` WHERE id = 7276;
DELETE FROM `m_icd10` WHERE id = 7277;
DELETE FROM `m_icd10` WHERE id = 7278;
DELETE FROM `m_icd10` WHERE id = 7279;
DELETE FROM `m_icd10` WHERE id = 7280;
DELETE FROM `m_icd10` WHERE id = 7281;
DELETE FROM `m_icd10` WHERE id = 7282;
DELETE FROM `m_icd10` WHERE id = 7283;
DELETE FROM `m_icd10` WHERE id = 7284;
DELETE FROM `m_icd10` WHERE id = 7285;
DELETE FROM `m_icd10` WHERE id = 7286;
DELETE FROM `m_icd10` WHERE id = 7287;
DELETE FROM `m_icd10` WHERE id = 7288;
DELETE FROM `m_icd10` WHERE id = 7289;
DELETE FROM `m_icd10` WHERE id = 7290;
DELETE FROM `m_icd10` WHERE id = 7291;
DELETE FROM `m_icd10` WHERE id = 7292;
DELETE FROM `m_icd10` WHERE id = 7293;
DELETE FROM `m_icd10` WHERE id = 7294;
DELETE FROM `m_icd10` WHERE id = 7295;
DELETE FROM `m_icd10` WHERE id = 7296;
DELETE FROM `m_icd10` WHERE id = 7297;
DELETE FROM `m_icd10` WHERE id = 7298;
DELETE FROM `m_icd10` WHERE id = 7299;
DELETE FROM `m_icd10` WHERE id = 7300;
DELETE FROM `m_icd10` WHERE id = 7301;
DELETE FROM `m_icd10` WHERE id = 7302;
DELETE FROM `m_icd10` WHERE id = 7303;
DELETE FROM `m_icd10` WHERE id = 7304;
DELETE FROM `m_icd10` WHERE id = 7305;
DELETE FROM `m_icd10` WHERE id = 7306;
DELETE FROM `m_icd10` WHERE id = 7307;
DELETE FROM `m_icd10` WHERE id = 7308;
DELETE FROM `m_icd10` WHERE id = 7309;
DELETE FROM `m_icd10` WHERE id = 7310;
DELETE FROM `m_icd10` WHERE id = 7311;
DELETE FROM `m_icd10` WHERE id = 7312;
DELETE FROM `m_icd10` WHERE id = 7313;
DELETE FROM `m_icd10` WHERE id = 7314;
DELETE FROM `m_icd10` WHERE id = 7315;
DELETE FROM `m_icd10` WHERE id = 7316;
DELETE FROM `m_icd10` WHERE id = 7317;
DELETE FROM `m_icd10` WHERE id = 7318;
DELETE FROM `m_icd10` WHERE id = 7319;
DELETE FROM `m_icd10` WHERE id = 7320;
DELETE FROM `m_icd10` WHERE id = 7321;
DELETE FROM `m_icd10` WHERE id = 7322;
DELETE FROM `m_icd10` WHERE id = 7323;
DELETE FROM `m_icd10` WHERE id = 7324;
DELETE FROM `m_icd10` WHERE id = 7325;
DELETE FROM `m_icd10` WHERE id = 7326;
DELETE FROM `m_icd10` WHERE id = 7327;
DELETE FROM `m_icd10` WHERE id = 7328;
DELETE FROM `m_icd10` WHERE id = 7329;
DELETE FROM `m_icd10` WHERE id = 7330;
DELETE FROM `m_icd10` WHERE id = 7331;
DELETE FROM `m_icd10` WHERE id = 7332;
DELETE FROM `m_icd10` WHERE id = 7333;
DELETE FROM `m_icd10` WHERE id = 7334;
DELETE FROM `m_icd10` WHERE id = 7335;
DELETE FROM `m_icd10` WHERE id = 7336;
DELETE FROM `m_icd10` WHERE id = 7337;
DELETE FROM `m_icd10` WHERE id = 7338;
DELETE FROM `m_icd10` WHERE id = 7339;
DELETE FROM `m_icd10` WHERE id = 7340;
DELETE FROM `m_icd10` WHERE id = 7341;
DELETE FROM `m_icd10` WHERE id = 7342;
DELETE FROM `m_icd10` WHERE id = 7343;
DELETE FROM `m_icd10` WHERE id = 7344;
DELETE FROM `m_icd10` WHERE id = 7345;
DELETE FROM `m_icd10` WHERE id = 7346;
DELETE FROM `m_icd10` WHERE id = 7347;
DELETE FROM `m_icd10` WHERE id = 7348;
DELETE FROM `m_icd10` WHERE id = 7349;
DELETE FROM `m_icd10` WHERE id = 7350;
DELETE FROM `m_icd10` WHERE id = 7351;
DELETE FROM `m_icd10` WHERE id = 7352;
DELETE FROM `m_icd10` WHERE id = 7353;
DELETE FROM `m_icd10` WHERE id = 7354;
DELETE FROM `m_icd10` WHERE id = 7355;
DELETE FROM `m_icd10` WHERE id = 7356;
DELETE FROM `m_icd10` WHERE id = 7357;
DELETE FROM `m_icd10` WHERE id = 7358;
DELETE FROM `m_icd10` WHERE id = 7359;
DELETE FROM `m_icd10` WHERE id = 7360;
DELETE FROM `m_icd10` WHERE id = 7361;
DELETE FROM `m_icd10` WHERE id = 7362;
DELETE FROM `m_icd10` WHERE id = 7363;
DELETE FROM `m_icd10` WHERE id = 7364;
DELETE FROM `m_icd10` WHERE id = 7365;
DELETE FROM `m_icd10` WHERE id = 7366;
DELETE FROM `m_icd10` WHERE id = 7367;
DELETE FROM `m_icd10` WHERE id = 7368;
DELETE FROM `m_icd10` WHERE id = 7369;
DELETE FROM `m_icd10` WHERE id = 7370;
DELETE FROM `m_icd10` WHERE id = 7371;
DELETE FROM `m_icd10` WHERE id = 7372;
DELETE FROM `m_icd10` WHERE id = 7373;
DELETE FROM `m_icd10` WHERE id = 7374;
DELETE FROM `m_icd10` WHERE id = 7375;
DELETE FROM `m_icd10` WHERE id = 7376;
DELETE FROM `m_icd10` WHERE id = 7377;
DELETE FROM `m_icd10` WHERE id = 7378;
DELETE FROM `m_icd10` WHERE id = 7379;
DELETE FROM `m_icd10` WHERE id = 7380;
DELETE FROM `m_icd10` WHERE id = 7381;
DELETE FROM `m_icd10` WHERE id = 7382;
DELETE FROM `m_icd10` WHERE id = 7383;
DELETE FROM `m_icd10` WHERE id = 7384;
DELETE FROM `m_icd10` WHERE id = 7385;
DELETE FROM `m_icd10` WHERE id = 7386;
DELETE FROM `m_icd10` WHERE id = 7387;
DELETE FROM `m_icd10` WHERE id = 7388;
DELETE FROM `m_icd10` WHERE id = 7389;
DELETE FROM `m_icd10` WHERE id = 7390;
DELETE FROM `m_icd10` WHERE id = 7391;
DELETE FROM `m_icd10` WHERE id = 7392;
DELETE FROM `m_icd10` WHERE id = 7393;
DELETE FROM `m_icd10` WHERE id = 7394;
DELETE FROM `m_icd10` WHERE id = 7395;
DELETE FROM `m_icd10` WHERE id = 7396;
DELETE FROM `m_icd10` WHERE id = 7397;
DELETE FROM `m_icd10` WHERE id = 7398;
DELETE FROM `m_icd10` WHERE id = 7399;
DELETE FROM `m_icd10` WHERE id = 7400;
DELETE FROM `m_icd10` WHERE id = 7401;
DELETE FROM `m_icd10` WHERE id = 7402;
DELETE FROM `m_icd10` WHERE id = 7403;
DELETE FROM `m_icd10` WHERE id = 7404;
DELETE FROM `m_icd10` WHERE id = 7405;
DELETE FROM `m_icd10` WHERE id = 7406;
DELETE FROM `m_icd10` WHERE id = 7407;
DELETE FROM `m_icd10` WHERE id = 7408;
DELETE FROM `m_icd10` WHERE id = 7409;
DELETE FROM `m_icd10` WHERE id = 7410;
DELETE FROM `m_icd10` WHERE id = 7411;
DELETE FROM `m_icd10` WHERE id = 7412;
DELETE FROM `m_icd10` WHERE id = 7413;
DELETE FROM `m_icd10` WHERE id = 7414;
DELETE FROM `m_icd10` WHERE id = 7415;
DELETE FROM `m_icd10` WHERE id = 7416;
DELETE FROM `m_icd10` WHERE id = 7417;
DELETE FROM `m_icd10` WHERE id = 7418;
DELETE FROM `m_icd10` WHERE id = 7419;
DELETE FROM `m_icd10` WHERE id = 7420;
DELETE FROM `m_icd10` WHERE id = 7421;
DELETE FROM `m_icd10` WHERE id = 7422;
DELETE FROM `m_icd10` WHERE id = 7423;
DELETE FROM `m_icd10` WHERE id = 7424;
DELETE FROM `m_icd10` WHERE id = 7425;
DELETE FROM `m_icd10` WHERE id = 7426;
DELETE FROM `m_icd10` WHERE id = 7427;
DELETE FROM `m_icd10` WHERE id = 7428;
DELETE FROM `m_icd10` WHERE id = 7429;
DELETE FROM `m_icd10` WHERE id = 7430;
DELETE FROM `m_icd10` WHERE id = 7431;
DELETE FROM `m_icd10` WHERE id = 7432;
DELETE FROM `m_icd10` WHERE id = 7433;
DELETE FROM `m_icd10` WHERE id = 7434;
DELETE FROM `m_icd10` WHERE id = 7435;
DELETE FROM `m_icd10` WHERE id = 7436;
DELETE FROM `m_icd10` WHERE id = 7437;
DELETE FROM `m_icd10` WHERE id = 7438;
DELETE FROM `m_icd10` WHERE id = 7439;
DELETE FROM `m_icd10` WHERE id = 7440;
DELETE FROM `m_icd10` WHERE id = 7441;
DELETE FROM `m_icd10` WHERE id = 7442;
DELETE FROM `m_icd10` WHERE id = 7443;
DELETE FROM `m_icd10` WHERE id = 7444;
DELETE FROM `m_icd10` WHERE id = 7445;
DELETE FROM `m_icd10` WHERE id = 7446;
DELETE FROM `m_icd10` WHERE id = 7447;
DELETE FROM `m_icd10` WHERE id = 7448;
DELETE FROM `m_icd10` WHERE id = 7449;
DELETE FROM `m_icd10` WHERE id = 7450;
DELETE FROM `m_icd10` WHERE id = 7451;
DELETE FROM `m_icd10` WHERE id = 7452;
DELETE FROM `m_icd10` WHERE id = 7453;
DELETE FROM `m_icd10` WHERE id = 7454;
DELETE FROM `m_icd10` WHERE id = 7455;
DELETE FROM `m_icd10` WHERE id = 7456;
DELETE FROM `m_icd10` WHERE id = 7457;
DELETE FROM `m_icd10` WHERE id = 7458;
DELETE FROM `m_icd10` WHERE id = 7459;
DELETE FROM `m_icd10` WHERE id = 7460;
DELETE FROM `m_icd10` WHERE id = 7461;
DELETE FROM `m_icd10` WHERE id = 7462;
DELETE FROM `m_icd10` WHERE id = 7463;
DELETE FROM `m_icd10` WHERE id = 7464;
DELETE FROM `m_icd10` WHERE id = 7465;
DELETE FROM `m_icd10` WHERE id = 7466;
DELETE FROM `m_icd10` WHERE id = 7467;
DELETE FROM `m_icd10` WHERE id = 7468;
DELETE FROM `m_icd10` WHERE id = 7469;
DELETE FROM `m_icd10` WHERE id = 7470;
DELETE FROM `m_icd10` WHERE id = 7471;
DELETE FROM `m_icd10` WHERE id = 7472;
DELETE FROM `m_icd10` WHERE id = 7473;
DELETE FROM `m_icd10` WHERE id = 7474;
DELETE FROM `m_icd10` WHERE id = 7475;
DELETE FROM `m_icd10` WHERE id = 7476;
DELETE FROM `m_icd10` WHERE id = 7477;
DELETE FROM `m_icd10` WHERE id = 7478;
DELETE FROM `m_icd10` WHERE id = 7479;
DELETE FROM `m_icd10` WHERE id = 7480;
DELETE FROM `m_icd10` WHERE id = 7481;
DELETE FROM `m_icd10` WHERE id = 7482;
DELETE FROM `m_icd10` WHERE id = 7483;
DELETE FROM `m_icd10` WHERE id = 7484;
DELETE FROM `m_icd10` WHERE id = 7485;
DELETE FROM `m_icd10` WHERE id = 7486;
DELETE FROM `m_icd10` WHERE id = 7487;
DELETE FROM `m_icd10` WHERE id = 7488;
DELETE FROM `m_icd10` WHERE id = 7489;
DELETE FROM `m_icd10` WHERE id = 7490;
DELETE FROM `m_icd10` WHERE id = 7491;
DELETE FROM `m_icd10` WHERE id = 7492;
DELETE FROM `m_icd10` WHERE id = 7493;
DELETE FROM `m_icd10` WHERE id = 7494;
DELETE FROM `m_icd10` WHERE id = 7495;
DELETE FROM `m_icd10` WHERE id = 7496;
DELETE FROM `m_icd10` WHERE id = 7497;
DELETE FROM `m_icd10` WHERE id = 7498;
DELETE FROM `m_icd10` WHERE id = 7499;
DELETE FROM `m_icd10` WHERE id = 7500;
DELETE FROM `m_icd10` WHERE id = 7501;
DELETE FROM `m_icd10` WHERE id = 7502;
DELETE FROM `m_icd10` WHERE id = 7503;
DELETE FROM `m_icd10` WHERE id = 7504;
DELETE FROM `m_icd10` WHERE id = 7505;
DELETE FROM `m_icd10` WHERE id = 7506;
DELETE FROM `m_icd10` WHERE id = 7507;
DELETE FROM `m_icd10` WHERE id = 7508;
DELETE FROM `m_icd10` WHERE id = 7509;
DELETE FROM `m_icd10` WHERE id = 7510;
DELETE FROM `m_icd10` WHERE id = 7511;
DELETE FROM `m_icd10` WHERE id = 7512;
DELETE FROM `m_icd10` WHERE id = 7513;
DELETE FROM `m_icd10` WHERE id = 7514;
DELETE FROM `m_icd10` WHERE id = 7515;
DELETE FROM `m_icd10` WHERE id = 7516;
DELETE FROM `m_icd10` WHERE id = 7517;
DELETE FROM `m_icd10` WHERE id = 7518;
DELETE FROM `m_icd10` WHERE id = 7519;
DELETE FROM `m_icd10` WHERE id = 7520;
DELETE FROM `m_icd10` WHERE id = 7521;
DELETE FROM `m_icd10` WHERE id = 7522;
DELETE FROM `m_icd10` WHERE id = 7523;
DELETE FROM `m_icd10` WHERE id = 7524;
DELETE FROM `m_icd10` WHERE id = 7525;
DELETE FROM `m_icd10` WHERE id = 7526;
DELETE FROM `m_icd10` WHERE id = 7527;
DELETE FROM `m_icd10` WHERE id = 7528;
DELETE FROM `m_icd10` WHERE id = 7529;
DELETE FROM `m_icd10` WHERE id = 7530;
DELETE FROM `m_icd10` WHERE id = 7531;
DELETE FROM `m_icd10` WHERE id = 7532;
DELETE FROM `m_icd10` WHERE id = 7533;
DELETE FROM `m_icd10` WHERE id = 7534;
DELETE FROM `m_icd10` WHERE id = 7535;
DELETE FROM `m_icd10` WHERE id = 7536;
DELETE FROM `m_icd10` WHERE id = 7537;
DELETE FROM `m_icd10` WHERE id = 7538;
DELETE FROM `m_icd10` WHERE id = 7539;
DELETE FROM `m_icd10` WHERE id = 7540;
DELETE FROM `m_icd10` WHERE id = 7541;
DELETE FROM `m_icd10` WHERE id = 7542;
DELETE FROM `m_icd10` WHERE id = 7543;
DELETE FROM `m_icd10` WHERE id = 7544;
DELETE FROM `m_icd10` WHERE id = 7545;
DELETE FROM `m_icd10` WHERE id = 7546;
DELETE FROM `m_icd10` WHERE id = 7547;
DELETE FROM `m_icd10` WHERE id = 7548;
DELETE FROM `m_icd10` WHERE id = 7549;
DELETE FROM `m_icd10` WHERE id = 7550;
DELETE FROM `m_icd10` WHERE id = 7551;
DELETE FROM `m_icd10` WHERE id = 7552;
DELETE FROM `m_icd10` WHERE id = 7553;
DELETE FROM `m_icd10` WHERE id = 7554;
DELETE FROM `m_icd10` WHERE id = 7555;
DELETE FROM `m_icd10` WHERE id = 7556;
DELETE FROM `m_icd10` WHERE id = 7557;
DELETE FROM `m_icd10` WHERE id = 7558;
DELETE FROM `m_icd10` WHERE id = 7559;
DELETE FROM `m_icd10` WHERE id = 7560;
DELETE FROM `m_icd10` WHERE id = 7561;
DELETE FROM `m_icd10` WHERE id = 7562;
DELETE FROM `m_icd10` WHERE id = 7563;
DELETE FROM `m_icd10` WHERE id = 7564;
DELETE FROM `m_icd10` WHERE id = 7565;
DELETE FROM `m_icd10` WHERE id = 7566;
DELETE FROM `m_icd10` WHERE id = 7567;
DELETE FROM `m_icd10` WHERE id = 7568;
DELETE FROM `m_icd10` WHERE id = 7569;
DELETE FROM `m_icd10` WHERE id = 7570;
DELETE FROM `m_icd10` WHERE id = 7571;
DELETE FROM `m_icd10` WHERE id = 7572;
DELETE FROM `m_icd10` WHERE id = 7573;
DELETE FROM `m_icd10` WHERE id = 7574;
DELETE FROM `m_icd10` WHERE id = 7575;
DELETE FROM `m_icd10` WHERE id = 7576;
DELETE FROM `m_icd10` WHERE id = 7577;
DELETE FROM `m_icd10` WHERE id = 7578;
DELETE FROM `m_icd10` WHERE id = 7579;
DELETE FROM `m_icd10` WHERE id = 7580;
DELETE FROM `m_icd10` WHERE id = 7581;
DELETE FROM `m_icd10` WHERE id = 7582;
DELETE FROM `m_icd10` WHERE id = 7583;
DELETE FROM `m_icd10` WHERE id = 7584;
DELETE FROM `m_icd10` WHERE id = 7585;
DELETE FROM `m_icd10` WHERE id = 7586;
DELETE FROM `m_icd10` WHERE id = 7587;
DELETE FROM `m_icd10` WHERE id = 7588;
DELETE FROM `m_icd10` WHERE id = 7589;
DELETE FROM `m_icd10` WHERE id = 7590;
DELETE FROM `m_icd10` WHERE id = 7591;
DELETE FROM `m_icd10` WHERE id = 7592;
DELETE FROM `m_icd10` WHERE id = 7593;
DELETE FROM `m_icd10` WHERE id = 7594;
DELETE FROM `m_icd10` WHERE id = 7595;
DELETE FROM `m_icd10` WHERE id = 7596;
DELETE FROM `m_icd10` WHERE id = 7597;
DELETE FROM `m_icd10` WHERE id = 7598;
DELETE FROM `m_icd10` WHERE id = 7599;
DELETE FROM `m_icd10` WHERE id = 7600;
DELETE FROM `m_icd10` WHERE id = 7601;
DELETE FROM `m_icd10` WHERE id = 7602;
DELETE FROM `m_icd10` WHERE id = 7603;
DELETE FROM `m_icd10` WHERE id = 7604;
DELETE FROM `m_icd10` WHERE id = 7605;
DELETE FROM `m_icd10` WHERE id = 7606;
DELETE FROM `m_icd10` WHERE id = 7607;
DELETE FROM `m_icd10` WHERE id = 7608;
DELETE FROM `m_icd10` WHERE id = 7609;
DELETE FROM `m_icd10` WHERE id = 7610;
DELETE FROM `m_icd10` WHERE id = 7611;
DELETE FROM `m_icd10` WHERE id = 7612;
DELETE FROM `m_icd10` WHERE id = 7613;
DELETE FROM `m_icd10` WHERE id = 7614;
DELETE FROM `m_icd10` WHERE id = 7615;
DELETE FROM `m_icd10` WHERE id = 7616;
DELETE FROM `m_icd10` WHERE id = 7617;
DELETE FROM `m_icd10` WHERE id = 7618;
DELETE FROM `m_icd10` WHERE id = 7619;
DELETE FROM `m_icd10` WHERE id = 7620;
DELETE FROM `m_icd10` WHERE id = 7621;
DELETE FROM `m_icd10` WHERE id = 7622;
DELETE FROM `m_icd10` WHERE id = 7623;
DELETE FROM `m_icd10` WHERE id = 7624;
DELETE FROM `m_icd10` WHERE id = 7625;
DELETE FROM `m_icd10` WHERE id = 7626;
DELETE FROM `m_icd10` WHERE id = 7627;
DELETE FROM `m_icd10` WHERE id = 7628;
DELETE FROM `m_icd10` WHERE id = 7629;
DELETE FROM `m_icd10` WHERE id = 7630;
DELETE FROM `m_icd10` WHERE id = 7631;
DELETE FROM `m_icd10` WHERE id = 7632;
DELETE FROM `m_icd10` WHERE id = 7633;
DELETE FROM `m_icd10` WHERE id = 7634;
DELETE FROM `m_icd10` WHERE id = 7635;
DELETE FROM `m_icd10` WHERE id = 7636;
DELETE FROM `m_icd10` WHERE id = 7637;
DELETE FROM `m_icd10` WHERE id = 7638;
DELETE FROM `m_icd10` WHERE id = 7639;
DELETE FROM `m_icd10` WHERE id = 7640;
DELETE FROM `m_icd10` WHERE id = 7641;
DELETE FROM `m_icd10` WHERE id = 7642;
DELETE FROM `m_icd10` WHERE id = 7643;
DELETE FROM `m_icd10` WHERE id = 7644;
DELETE FROM `m_icd10` WHERE id = 7645;
DELETE FROM `m_icd10` WHERE id = 7646;
DELETE FROM `m_icd10` WHERE id = 7647;
DELETE FROM `m_icd10` WHERE id = 7648;
DELETE FROM `m_icd10` WHERE id = 7649;
DELETE FROM `m_icd10` WHERE id = 7650;
DELETE FROM `m_icd10` WHERE id = 7651;
DELETE FROM `m_icd10` WHERE id = 7652;
DELETE FROM `m_icd10` WHERE id = 7653;
DELETE FROM `m_icd10` WHERE id = 7654;
DELETE FROM `m_icd10` WHERE id = 7655;
DELETE FROM `m_icd10` WHERE id = 7656;
DELETE FROM `m_icd10` WHERE id = 7657;
DELETE FROM `m_icd10` WHERE id = 7658;
DELETE FROM `m_icd10` WHERE id = 7659;
DELETE FROM `m_icd10` WHERE id = 7660;
DELETE FROM `m_icd10` WHERE id = 7661;
DELETE FROM `m_icd10` WHERE id = 7662;
DELETE FROM `m_icd10` WHERE id = 7663;
DELETE FROM `m_icd10` WHERE id = 7664;
DELETE FROM `m_icd10` WHERE id = 7665;
DELETE FROM `m_icd10` WHERE id = 7666;
DELETE FROM `m_icd10` WHERE id = 7667;
DELETE FROM `m_icd10` WHERE id = 7668;
DELETE FROM `m_icd10` WHERE id = 7669;
DELETE FROM `m_icd10` WHERE id = 7670;
DELETE FROM `m_icd10` WHERE id = 7671;
DELETE FROM `m_icd10` WHERE id = 7672;
DELETE FROM `m_icd10` WHERE id = 7673;
DELETE FROM `m_icd10` WHERE id = 7674;
DELETE FROM `m_icd10` WHERE id = 7675;
DELETE FROM `m_icd10` WHERE id = 7676;
DELETE FROM `m_icd10` WHERE id = 7677;
DELETE FROM `m_icd10` WHERE id = 7678;
DELETE FROM `m_icd10` WHERE id = 7679;
DELETE FROM `m_icd10` WHERE id = 7680;
DELETE FROM `m_icd10` WHERE id = 7681;
DELETE FROM `m_icd10` WHERE id = 7682;
DELETE FROM `m_icd10` WHERE id = 7683;
DELETE FROM `m_icd10` WHERE id = 7684;
DELETE FROM `m_icd10` WHERE id = 7685;
DELETE FROM `m_icd10` WHERE id = 7686;
DELETE FROM `m_icd10` WHERE id = 7687;
DELETE FROM `m_icd10` WHERE id = 7688;
DELETE FROM `m_icd10` WHERE id = 7689;
DELETE FROM `m_icd10` WHERE id = 7690;
DELETE FROM `m_icd10` WHERE id = 7691;
DELETE FROM `m_icd10` WHERE id = 7692;
DELETE FROM `m_icd10` WHERE id = 7693;
DELETE FROM `m_icd10` WHERE id = 7694;
DELETE FROM `m_icd10` WHERE id = 7695;
DELETE FROM `m_icd10` WHERE id = 7696;
DELETE FROM `m_icd10` WHERE id = 7697;
DELETE FROM `m_icd10` WHERE id = 7698;
DELETE FROM `m_icd10` WHERE id = 7699;
DELETE FROM `m_icd10` WHERE id = 7700;
DELETE FROM `m_icd10` WHERE id = 7701;
DELETE FROM `m_icd10` WHERE id = 7702;
DELETE FROM `m_icd10` WHERE id = 7703;
DELETE FROM `m_icd10` WHERE id = 7704;
DELETE FROM `m_icd10` WHERE id = 7705;
DELETE FROM `m_icd10` WHERE id = 7706;
DELETE FROM `m_icd10` WHERE id = 7707;
DELETE FROM `m_icd10` WHERE id = 7708;
DELETE FROM `m_icd10` WHERE id = 7709;
DELETE FROM `m_icd10` WHERE id = 7710;
DELETE FROM `m_icd10` WHERE id = 7711;
DELETE FROM `m_icd10` WHERE id = 7712;
DELETE FROM `m_icd10` WHERE id = 7713;
DELETE FROM `m_icd10` WHERE id = 7714;
DELETE FROM `m_icd10` WHERE id = 7715;
DELETE FROM `m_icd10` WHERE id = 7716;
DELETE FROM `m_icd10` WHERE id = 7717;
DELETE FROM `m_icd10` WHERE id = 7718;
DELETE FROM `m_icd10` WHERE id = 7719;
DELETE FROM `m_icd10` WHERE id = 7720;
DELETE FROM `m_icd10` WHERE id = 7721;
DELETE FROM `m_icd10` WHERE id = 7722;
DELETE FROM `m_icd10` WHERE id = 7723;
DELETE FROM `m_icd10` WHERE id = 7724;
DELETE FROM `m_icd10` WHERE id = 7725;
DELETE FROM `m_icd10` WHERE id = 7726;
DELETE FROM `m_icd10` WHERE id = 7727;
DELETE FROM `m_icd10` WHERE id = 7728;
DELETE FROM `m_icd10` WHERE id = 7729;
DELETE FROM `m_icd10` WHERE id = 7730;
DELETE FROM `m_icd10` WHERE id = 7731;
DELETE FROM `m_icd10` WHERE id = 7732;
DELETE FROM `m_icd10` WHERE id = 7733;
DELETE FROM `m_icd10` WHERE id = 7734;
DELETE FROM `m_icd10` WHERE id = 7735;
DELETE FROM `m_icd10` WHERE id = 7736;
DELETE FROM `m_icd10` WHERE id = 7737;
DELETE FROM `m_icd10` WHERE id = 7738;
DELETE FROM `m_icd10` WHERE id = 7739;
DELETE FROM `m_icd10` WHERE id = 7740;
DELETE FROM `m_icd10` WHERE id = 7741;
DELETE FROM `m_icd10` WHERE id = 7742;
DELETE FROM `m_icd10` WHERE id = 7743;
DELETE FROM `m_icd10` WHERE id = 7744;
DELETE FROM `m_icd10` WHERE id = 7745;
DELETE FROM `m_icd10` WHERE id = 7746;
DELETE FROM `m_icd10` WHERE id = 7747;
DELETE FROM `m_icd10` WHERE id = 7748;
DELETE FROM `m_icd10` WHERE id = 7749;
DELETE FROM `m_icd10` WHERE id = 7750;
DELETE FROM `m_icd10` WHERE id = 7751;
DELETE FROM `m_icd10` WHERE id = 7752;
DELETE FROM `m_icd10` WHERE id = 7753;
DELETE FROM `m_icd10` WHERE id = 7754;
DELETE FROM `m_icd10` WHERE id = 7755;
DELETE FROM `m_icd10` WHERE id = 7756;
DELETE FROM `m_icd10` WHERE id = 7757;
DELETE FROM `m_icd10` WHERE id = 7758;
DELETE FROM `m_icd10` WHERE id = 7759;
DELETE FROM `m_icd10` WHERE id = 7760;
DELETE FROM `m_icd10` WHERE id = 7761;
DELETE FROM `m_icd10` WHERE id = 7762;
DELETE FROM `m_icd10` WHERE id = 7763;
DELETE FROM `m_icd10` WHERE id = 7764;
DELETE FROM `m_icd10` WHERE id = 7765;
DELETE FROM `m_icd10` WHERE id = 7766;
DELETE FROM `m_icd10` WHERE id = 7767;
DELETE FROM `m_icd10` WHERE id = 7768;
DELETE FROM `m_icd10` WHERE id = 7769;
DELETE FROM `m_icd10` WHERE id = 7770;
DELETE FROM `m_icd10` WHERE id = 7771;
DELETE FROM `m_icd10` WHERE id = 7772;
DELETE FROM `m_icd10` WHERE id = 7773;
DELETE FROM `m_icd10` WHERE id = 7774;
DELETE FROM `m_icd10` WHERE id = 7775;
DELETE FROM `m_icd10` WHERE id = 7776;
DELETE FROM `m_icd10` WHERE id = 7777;
DELETE FROM `m_icd10` WHERE id = 7778;
DELETE FROM `m_icd10` WHERE id = 7779;

DELETE FROM `m_icd10` WHERE id = 9768;
DELETE FROM `m_icd10` WHERE id = 9769;
DELETE FROM `m_icd10` WHERE id = 9770;
DELETE FROM `m_icd10` WHERE id = 9771;
DELETE FROM `m_icd10` WHERE id = 9772;
DELETE FROM `m_icd10` WHERE id = 9773;
DELETE FROM `m_icd10` WHERE id = 9774;
DELETE FROM `m_icd10` WHERE id = 9775;
DELETE FROM `m_icd10` WHERE id = 9776;
DELETE FROM `m_icd10` WHERE id = 9777;
DELETE FROM `m_icd10` WHERE id = 9778;
DELETE FROM `m_icd10` WHERE id = 9779;
DELETE FROM `m_icd10` WHERE id = 9780;
DELETE FROM `m_icd10` WHERE id = 9781;
DELETE FROM `m_icd10` WHERE id = 9782;
DELETE FROM `m_icd10` WHERE id = 9783;
DELETE FROM `m_icd10` WHERE id = 9784;
DELETE FROM `m_icd10` WHERE id = 9785;
DELETE FROM `m_icd10` WHERE id = 9786;
DELETE FROM `m_icd10` WHERE id = 9787;
DELETE FROM `m_icd10` WHERE id = 9788;
DELETE FROM `m_icd10` WHERE id = 9789;
DELETE FROM `m_icd10` WHERE id = 9790;
DELETE FROM `m_icd10` WHERE id = 9791;
DELETE FROM `m_icd10` WHERE id = 9792;
DELETE FROM `m_icd10` WHERE id = 9793;
DELETE FROM `m_icd10` WHERE id = 9794;
DELETE FROM `m_icd10` WHERE id = 9795;
DELETE FROM `m_icd10` WHERE id = 9796;
DELETE FROM `m_icd10` WHERE id = 9797;
DELETE FROM `m_icd10` WHERE id = 9798;
DELETE FROM `m_icd10` WHERE id = 9799;
DELETE FROM `m_icd10` WHERE id = 9800;
DELETE FROM `m_icd10` WHERE id = 9801;
DELETE FROM `m_icd10` WHERE id = 9802;
DELETE FROM `m_icd10` WHERE id = 9803;
DELETE FROM `m_icd10` WHERE id = 9804;
DELETE FROM `m_icd10` WHERE id = 9805;
DELETE FROM `m_icd10` WHERE id = 9806;
DELETE FROM `m_icd10` WHERE id = 9807;
DELETE FROM `m_icd10` WHERE id = 9808;
DELETE FROM `m_icd10` WHERE id = 9809;
DELETE FROM `m_icd10` WHERE id = 9810;
DELETE FROM `m_icd10` WHERE id = 9811;
DELETE FROM `m_icd10` WHERE id = 9812;
DELETE FROM `m_icd10` WHERE id = 9813;
DELETE FROM `m_icd10` WHERE id = 9814;
DELETE FROM `m_icd10` WHERE id = 9815;
DELETE FROM `m_icd10` WHERE id = 9816;
DELETE FROM `m_icd10` WHERE id = 9817;
DELETE FROM `m_icd10` WHERE id = 9818;
DELETE FROM `m_icd10` WHERE id = 9819;
DELETE FROM `m_icd10` WHERE id = 9820;
DELETE FROM `m_icd10` WHERE id = 9821;
DELETE FROM `m_icd10` WHERE id = 9822;
DELETE FROM `m_icd10` WHERE id = 9823;
DELETE FROM `m_icd10` WHERE id = 9824;
DELETE FROM `m_icd10` WHERE id = 9825;
DELETE FROM `m_icd10` WHERE id = 9826;
DELETE FROM `m_icd10` WHERE id = 9827;
DELETE FROM `m_icd10` WHERE id = 9828;
DELETE FROM `m_icd10` WHERE id = 9829;
DELETE FROM `m_icd10` WHERE id = 9830;
DELETE FROM `m_icd10` WHERE id = 9831;
DELETE FROM `m_icd10` WHERE id = 9832;
DELETE FROM `m_icd10` WHERE id = 9833;
DELETE FROM `m_icd10` WHERE id = 9834;
DELETE FROM `m_icd10` WHERE id = 9835;
DELETE FROM `m_icd10` WHERE id = 9836;
DELETE FROM `m_icd10` WHERE id = 9837;
DELETE FROM `m_icd10` WHERE id = 9838;
DELETE FROM `m_icd10` WHERE id = 9839;
DELETE FROM `m_icd10` WHERE id = 9840;
DELETE FROM `m_icd10` WHERE id = 9841;
DELETE FROM `m_icd10` WHERE id = 9842;
DELETE FROM `m_icd10` WHERE id = 9843;
DELETE FROM `m_icd10` WHERE id = 9844;
DELETE FROM `m_icd10` WHERE id = 9845;
DELETE FROM `m_icd10` WHERE id = 9846;
DELETE FROM `m_icd10` WHERE id = 9847;
DELETE FROM `m_icd10` WHERE id = 9848;
DELETE FROM `m_icd10` WHERE id = 9849;
DELETE FROM `m_icd10` WHERE id = 9850;
DELETE FROM `m_icd10` WHERE id = 9851;
DELETE FROM `m_icd10` WHERE id = 9852;
DELETE FROM `m_icd10` WHERE id = 9853;
DELETE FROM `m_icd10` WHERE id = 9854;
DELETE FROM `m_icd10` WHERE id = 9855;
DELETE FROM `m_icd10` WHERE id = 9856;
DELETE FROM `m_icd10` WHERE id = 9857;
DELETE FROM `m_icd10` WHERE id = 9858;
DELETE FROM `m_icd10` WHERE id = 9859;
DELETE FROM `m_icd10` WHERE id = 9860;
DELETE FROM `m_icd10` WHERE id = 9861;
DELETE FROM `m_icd10` WHERE id = 9862;
DELETE FROM `m_icd10` WHERE id = 9863;
DELETE FROM `m_icd10` WHERE id = 9864;
DELETE FROM `m_icd10` WHERE id = 9865;
DELETE FROM `m_icd10` WHERE id = 9866;
DELETE FROM `m_icd10` WHERE id = 9867;
DELETE FROM `m_icd10` WHERE id = 9868;
DELETE FROM `m_icd10` WHERE id = 9869;
DELETE FROM `m_icd10` WHERE id = 9870;
DELETE FROM `m_icd10` WHERE id = 9871;
DELETE FROM `m_icd10` WHERE id = 9872;
DELETE FROM `m_icd10` WHERE id = 9873;
DELETE FROM `m_icd10` WHERE id = 9874;
DELETE FROM `m_icd10` WHERE id = 9875;
DELETE FROM `m_icd10` WHERE id = 9876;
DELETE FROM `m_icd10` WHERE id = 9877;
DELETE FROM `m_icd10` WHERE id = 9878;
DELETE FROM `m_icd10` WHERE id = 9879;
DELETE FROM `m_icd10` WHERE id = 9880;
DELETE FROM `m_icd10` WHERE id = 9881;
DELETE FROM `m_icd10` WHERE id = 9882;
DELETE FROM `m_icd10` WHERE id = 9883;
DELETE FROM `m_icd10` WHERE id = 9884;
DELETE FROM `m_icd10` WHERE id = 9885;
DELETE FROM `m_icd10` WHERE id = 9886;
DELETE FROM `m_icd10` WHERE id = 9887;
DELETE FROM `m_icd10` WHERE id = 9888;
DELETE FROM `m_icd10` WHERE id = 9889;
DELETE FROM `m_icd10` WHERE id = 9890;
DELETE FROM `m_icd10` WHERE id = 9891;
DELETE FROM `m_icd10` WHERE id = 9892;
DELETE FROM `m_icd10` WHERE id = 9893;
DELETE FROM `m_icd10` WHERE id = 9894;
DELETE FROM `m_icd10` WHERE id = 9895;
DELETE FROM `m_icd10` WHERE id = 9896;
DELETE FROM `m_icd10` WHERE id = 9897;
DELETE FROM `m_icd10` WHERE id = 9898;
DELETE FROM `m_icd10` WHERE id = 9899;
DELETE FROM `m_icd10` WHERE id = 9900;
DELETE FROM `m_icd10` WHERE id = 9901;
DELETE FROM `m_icd10` WHERE id = 9902;
DELETE FROM `m_icd10` WHERE id = 9903;
DELETE FROM `m_icd10` WHERE id = 9904;
DELETE FROM `m_icd10` WHERE id = 9905;
DELETE FROM `m_icd10` WHERE id = 9906;
DELETE FROM `m_icd10` WHERE id = 9907;
DELETE FROM `m_icd10` WHERE id = 9908;
DELETE FROM `m_icd10` WHERE id = 9909;
DELETE FROM `m_icd10` WHERE id = 9910;
DELETE FROM `m_icd10` WHERE id = 9911;
DELETE FROM `m_icd10` WHERE id = 9912;
DELETE FROM `m_icd10` WHERE id = 9913;
DELETE FROM `m_icd10` WHERE id = 9914;
DELETE FROM `m_icd10` WHERE id = 9915;
DELETE FROM `m_icd10` WHERE id = 9916;
DELETE FROM `m_icd10` WHERE id = 9917;
DELETE FROM `m_icd10` WHERE id = 9918;
DELETE FROM `m_icd10` WHERE id = 9919;
DELETE FROM `m_icd10` WHERE id = 9920;
DELETE FROM `m_icd10` WHERE id = 9921;
DELETE FROM `m_icd10` WHERE id = 9922;
DELETE FROM `m_icd10` WHERE id = 9923;
DELETE FROM `m_icd10` WHERE id = 9924;
DELETE FROM `m_icd10` WHERE id = 9925;
DELETE FROM `m_icd10` WHERE id = 9926;
DELETE FROM `m_icd10` WHERE id = 9927;
DELETE FROM `m_icd10` WHERE id = 9928;
DELETE FROM `m_icd10` WHERE id = 9929;
DELETE FROM `m_icd10` WHERE id = 9930;
DELETE FROM `m_icd10` WHERE id = 9931;
DELETE FROM `m_icd10` WHERE id = 9932;
DELETE FROM `m_icd10` WHERE id = 9933;
DELETE FROM `m_icd10` WHERE id = 9934;
DELETE FROM `m_icd10` WHERE id = 9935;
DELETE FROM `m_icd10` WHERE id = 9936;
DELETE FROM `m_icd10` WHERE id = 9937;
DELETE FROM `m_icd10` WHERE id = 9938;
DELETE FROM `m_icd10` WHERE id = 9939;
DELETE FROM `m_icd10` WHERE id = 9940;
DELETE FROM `m_icd10` WHERE id = 9941;
DELETE FROM `m_icd10` WHERE id = 9942;
DELETE FROM `m_icd10` WHERE id = 9943;
DELETE FROM `m_icd10` WHERE id = 9944;
DELETE FROM `m_icd10` WHERE id = 9945;
DELETE FROM `m_icd10` WHERE id = 9946;
DELETE FROM `m_icd10` WHERE id = 9947;
DELETE FROM `m_icd10` WHERE id = 9948;
DELETE FROM `m_icd10` WHERE id = 9949;
DELETE FROM `m_icd10` WHERE id = 9950;
DELETE FROM `m_icd10` WHERE id = 9951;
DELETE FROM `m_icd10` WHERE id = 9952;
DELETE FROM `m_icd10` WHERE id = 9953;
DELETE FROM `m_icd10` WHERE id = 9954;
DELETE FROM `m_icd10` WHERE id = 9955;
DELETE FROM `m_icd10` WHERE id = 9956;
DELETE FROM `m_icd10` WHERE id = 9957;
DELETE FROM `m_icd10` WHERE id = 9958;
DELETE FROM `m_icd10` WHERE id = 9959;
DELETE FROM `m_icd10` WHERE id = 9960;
DELETE FROM `m_icd10` WHERE id = 9961;
DELETE FROM `m_icd10` WHERE id = 9962;
DELETE FROM `m_icd10` WHERE id = 9963;
DELETE FROM `m_icd10` WHERE id = 9964;
DELETE FROM `m_icd10` WHERE id = 9965;
DELETE FROM `m_icd10` WHERE id = 9966;
DELETE FROM `m_icd10` WHERE id = 9967;
DELETE FROM `m_icd10` WHERE id = 9968;
DELETE FROM `m_icd10` WHERE id = 9969;
DELETE FROM `m_icd10` WHERE id = 9970;
DELETE FROM `m_icd10` WHERE id = 9971;
DELETE FROM `m_icd10` WHERE id = 9972;
DELETE FROM `m_icd10` WHERE id = 9973;
DELETE FROM `m_icd10` WHERE id = 9974;
DELETE FROM `m_icd10` WHERE id = 9975;
DELETE FROM `m_icd10` WHERE id = 9976;
DELETE FROM `m_icd10` WHERE id = 9977;
DELETE FROM `m_icd10` WHERE id = 9978;
DELETE FROM `m_icd10` WHERE id = 9979;
DELETE FROM `m_icd10` WHERE id = 9980;
DELETE FROM `m_icd10` WHERE id = 9981;
DELETE FROM `m_icd10` WHERE id = 9982;
DELETE FROM `m_icd10` WHERE id = 9983;
DELETE FROM `m_icd10` WHERE id = 9984;
DELETE FROM `m_icd10` WHERE id = 9985;
DELETE FROM `m_icd10` WHERE id = 9986;
DELETE FROM `m_icd10` WHERE id = 9987;
DELETE FROM `m_icd10` WHERE id = 9988;
DELETE FROM `m_icd10` WHERE id = 9989;
DELETE FROM `m_icd10` WHERE id = 9990;
DELETE FROM `m_icd10` WHERE id = 9991;
DELETE FROM `m_icd10` WHERE id = 9992;
DELETE FROM `m_icd10` WHERE id = 9993;
DELETE FROM `m_icd10` WHERE id = 9994;
DELETE FROM `m_icd10` WHERE id = 9995;
DELETE FROM `m_icd10` WHERE id = 9996;
DELETE FROM `m_icd10` WHERE id = 9997;
DELETE FROM `m_icd10` WHERE id = 9998;
DELETE FROM `m_icd10` WHERE id = 9999;
DELETE FROM `m_icd10` WHERE id = 10000;
DELETE FROM `m_icd10` WHERE id = 10001;
DELETE FROM `m_icd10` WHERE id = 10002;
DELETE FROM `m_icd10` WHERE id = 10003;
DELETE FROM `m_icd10` WHERE id = 10004;
DELETE FROM `m_icd10` WHERE id = 10005;
DELETE FROM `m_icd10` WHERE id = 10006;
DELETE FROM `m_icd10` WHERE id = 10007;
DELETE FROM `m_icd10` WHERE id = 10008;
DELETE FROM `m_icd10` WHERE id = 10009;
DELETE FROM `m_icd10` WHERE id = 10010;
DELETE FROM `m_icd10` WHERE id = 10011;
DELETE FROM `m_icd10` WHERE id = 10012;
DELETE FROM `m_icd10` WHERE id = 10013;
DELETE FROM `m_icd10` WHERE id = 10014;
DELETE FROM `m_icd10` WHERE id = 10015;
DELETE FROM `m_icd10` WHERE id = 10016;
DELETE FROM `m_icd10` WHERE id = 10017;
DELETE FROM `m_icd10` WHERE id = 10018;
DELETE FROM `m_icd10` WHERE id = 10019;
DELETE FROM `m_icd10` WHERE id = 10020;
DELETE FROM `m_icd10` WHERE id = 10021;
DELETE FROM `m_icd10` WHERE id = 10022;
DELETE FROM `m_icd10` WHERE id = 10023;
DELETE FROM `m_icd10` WHERE id = 10024;
DELETE FROM `m_icd10` WHERE id = 10025;
DELETE FROM `m_icd10` WHERE id = 10026;
DELETE FROM `m_icd10` WHERE id = 10027;
DELETE FROM `m_icd10` WHERE id = 10028;
DELETE FROM `m_icd10` WHERE id = 10029;
DELETE FROM `m_icd10` WHERE id = 10030;
DELETE FROM `m_icd10` WHERE id = 10031;
DELETE FROM `m_icd10` WHERE id = 10032;
DELETE FROM `m_icd10` WHERE id = 10033;
DELETE FROM `m_icd10` WHERE id = 10034;
DELETE FROM `m_icd10` WHERE id = 10035;
DELETE FROM `m_icd10` WHERE id = 10036;
DELETE FROM `m_icd10` WHERE id = 10037;
DELETE FROM `m_icd10` WHERE id = 10038;
DELETE FROM `m_icd10` WHERE id = 10039;
DELETE FROM `m_icd10` WHERE id = 10040;
DELETE FROM `m_icd10` WHERE id = 10041;
DELETE FROM `m_icd10` WHERE id = 10042;
DELETE FROM `m_icd10` WHERE id = 10043;
DELETE FROM `m_icd10` WHERE id = 10044;
DELETE FROM `m_icd10` WHERE id = 10045;
DELETE FROM `m_icd10` WHERE id = 10046;
DELETE FROM `m_icd10` WHERE id = 10047;
DELETE FROM `m_icd10` WHERE id = 10048;
DELETE FROM `m_icd10` WHERE id = 10049;
DELETE FROM `m_icd10` WHERE id = 10050;
DELETE FROM `m_icd10` WHERE id = 10051;
DELETE FROM `m_icd10` WHERE id = 10052;
DELETE FROM `m_icd10` WHERE id = 10053;
DELETE FROM `m_icd10` WHERE id = 10054;
DELETE FROM `m_icd10` WHERE id = 10055;
DELETE FROM `m_icd10` WHERE id = 10056;
DELETE FROM `m_icd10` WHERE id = 10057;
DELETE FROM `m_icd10` WHERE id = 10058;
DELETE FROM `m_icd10` WHERE id = 10059;
DELETE FROM `m_icd10` WHERE id = 10060;
DELETE FROM `m_icd10` WHERE id = 10061;
DELETE FROM `m_icd10` WHERE id = 10062;
DELETE FROM `m_icd10` WHERE id = 10063;
DELETE FROM `m_icd10` WHERE id = 10064;
DELETE FROM `m_icd10` WHERE id = 10065;
DELETE FROM `m_icd10` WHERE id = 10066;
DELETE FROM `m_icd10` WHERE id = 10067;
DELETE FROM `m_icd10` WHERE id = 10068;
DELETE FROM `m_icd10` WHERE id = 10069;
DELETE FROM `m_icd10` WHERE id = 10070;
DELETE FROM `m_icd10` WHERE id = 10071;
DELETE FROM `m_icd10` WHERE id = 10072;
DELETE FROM `m_icd10` WHERE id = 10073;
DELETE FROM `m_icd10` WHERE id = 10074;
DELETE FROM `m_icd10` WHERE id = 10075;
DELETE FROM `m_icd10` WHERE id = 10076;
DELETE FROM `m_icd10` WHERE id = 10077;
DELETE FROM `m_icd10` WHERE id = 10078;
DELETE FROM `m_icd10` WHERE id = 10079;
DELETE FROM `m_icd10` WHERE id = 10080;
DELETE FROM `m_icd10` WHERE id = 10081;
DELETE FROM `m_icd10` WHERE id = 10082;
DELETE FROM `m_icd10` WHERE id = 10083;
DELETE FROM `m_icd10` WHERE id = 10084;
DELETE FROM `m_icd10` WHERE id = 10085;
DELETE FROM `m_icd10` WHERE id = 10086;
DELETE FROM `m_icd10` WHERE id = 10087;
DELETE FROM `m_icd10` WHERE id = 10088;
DELETE FROM `m_icd10` WHERE id = 10089;
DELETE FROM `m_icd10` WHERE id = 10090;
DELETE FROM `m_icd10` WHERE id = 10091;
DELETE FROM `m_icd10` WHERE id = 10092;
DELETE FROM `m_icd10` WHERE id = 10093;
DELETE FROM `m_icd10` WHERE id = 10094;
DELETE FROM `m_icd10` WHERE id = 10095;
DELETE FROM `m_icd10` WHERE id = 10096;
DELETE FROM `m_icd10` WHERE id = 10097;
DELETE FROM `m_icd10` WHERE id = 10098;
DELETE FROM `m_icd10` WHERE id = 10099;
DELETE FROM `m_icd10` WHERE id = 10100;
DELETE FROM `m_icd10` WHERE id = 10101;
DELETE FROM `m_icd10` WHERE id = 10102;
DELETE FROM `m_icd10` WHERE id = 10103;
DELETE FROM `m_icd10` WHERE id = 10104;
DELETE FROM `m_icd10` WHERE id = 10105;
DELETE FROM `m_icd10` WHERE id = 10106;
DELETE FROM `m_icd10` WHERE id = 10107;
DELETE FROM `m_icd10` WHERE id = 10108;
DELETE FROM `m_icd10` WHERE id = 10109;
DELETE FROM `m_icd10` WHERE id = 10110;
DELETE FROM `m_icd10` WHERE id = 10111;
DELETE FROM `m_icd10` WHERE id = 10112;
DELETE FROM `m_icd10` WHERE id = 10113;
DELETE FROM `m_icd10` WHERE id = 10114;
DELETE FROM `m_icd10` WHERE id = 10115;
DELETE FROM `m_icd10` WHERE id = 10116;
DELETE FROM `m_icd10` WHERE id = 10117;
DELETE FROM `m_icd10` WHERE id = 10118;
DELETE FROM `m_icd10` WHERE id = 10119;
DELETE FROM `m_icd10` WHERE id = 10120;
DELETE FROM `m_icd10` WHERE id = 10121;
DELETE FROM `m_icd10` WHERE id = 10122;
DELETE FROM `m_icd10` WHERE id = 10123;
DELETE FROM `m_icd10` WHERE id = 10124;
DELETE FROM `m_icd10` WHERE id = 10125;
DELETE FROM `m_icd10` WHERE id = 10126;
DELETE FROM `m_icd10` WHERE id = 10127;
DELETE FROM `m_icd10` WHERE id = 10128;
DELETE FROM `m_icd10` WHERE id = 10129;
DELETE FROM `m_icd10` WHERE id = 10130;
DELETE FROM `m_icd10` WHERE id = 10131;
DELETE FROM `m_icd10` WHERE id = 10132;
DELETE FROM `m_icd10` WHERE id = 10133;
DELETE FROM `m_icd10` WHERE id = 10134;
DELETE FROM `m_icd10` WHERE id = 10135;
DELETE FROM `m_icd10` WHERE id = 10136;
DELETE FROM `m_icd10` WHERE id = 10137;
DELETE FROM `m_icd10` WHERE id = 10138;
DELETE FROM `m_icd10` WHERE id = 10139;
DELETE FROM `m_icd10` WHERE id = 10140;
DELETE FROM `m_icd10` WHERE id = 10141;
DELETE FROM `m_icd10` WHERE id = 10142;
DELETE FROM `m_icd10` WHERE id = 10143;
DELETE FROM `m_icd10` WHERE id = 10144;
DELETE FROM `m_icd10` WHERE id = 10145;
DELETE FROM `m_icd10` WHERE id = 10146;
DELETE FROM `m_icd10` WHERE id = 10147;
DELETE FROM `m_icd10` WHERE id = 10148;
DELETE FROM `m_icd10` WHERE id = 10149;
DELETE FROM `m_icd10` WHERE id = 10150;
DELETE FROM `m_icd10` WHERE id = 10151;
DELETE FROM `m_icd10` WHERE id = 10152;
DELETE FROM `m_icd10` WHERE id = 10153;
DELETE FROM `m_icd10` WHERE id = 10154;
DELETE FROM `m_icd10` WHERE id = 10155;
DELETE FROM `m_icd10` WHERE id = 10156;
DELETE FROM `m_icd10` WHERE id = 10157;
DELETE FROM `m_icd10` WHERE id = 10158;
DELETE FROM `m_icd10` WHERE id = 10159;
DELETE FROM `m_icd10` WHERE id = 10160;
DELETE FROM `m_icd10` WHERE id = 10161;
DELETE FROM `m_icd10` WHERE id = 10162;
DELETE FROM `m_icd10` WHERE id = 10163;
DELETE FROM `m_icd10` WHERE id = 10164;
DELETE FROM `m_icd10` WHERE id = 10165;
DELETE FROM `m_icd10` WHERE id = 10166;
DELETE FROM `m_icd10` WHERE id = 10167;
DELETE FROM `m_icd10` WHERE id = 10168;
DELETE FROM `m_icd10` WHERE id = 10169;
DELETE FROM `m_icd10` WHERE id = 10170;
DELETE FROM `m_icd10` WHERE id = 10171;
DELETE FROM `m_icd10` WHERE id = 10172;
DELETE FROM `m_icd10` WHERE id = 10173;
DELETE FROM `m_icd10` WHERE id = 10174;
DELETE FROM `m_icd10` WHERE id = 10175;
DELETE FROM `m_icd10` WHERE id = 10176;
DELETE FROM `m_icd10` WHERE id = 10177;
DELETE FROM `m_icd10` WHERE id = 10178;
DELETE FROM `m_icd10` WHERE id = 10179;
DELETE FROM `m_icd10` WHERE id = 10180;
DELETE FROM `m_icd10` WHERE id = 10181;
DELETE FROM `m_icd10` WHERE id = 10182;
DELETE FROM `m_icd10` WHERE id = 10183;
DELETE FROM `m_icd10` WHERE id = 10184;
DELETE FROM `m_icd10` WHERE id = 10185;
DELETE FROM `m_icd10` WHERE id = 10186;
DELETE FROM `m_icd10` WHERE id = 10187;
DELETE FROM `m_icd10` WHERE id = 10188;
DELETE FROM `m_icd10` WHERE id = 10189;
DELETE FROM `m_icd10` WHERE id = 10190;
DELETE FROM `m_icd10` WHERE id = 10191;
DELETE FROM `m_icd10` WHERE id = 10192;
DELETE FROM `m_icd10` WHERE id = 10193;
DELETE FROM `m_icd10` WHERE id = 10194;
DELETE FROM `m_icd10` WHERE id = 10195;
DELETE FROM `m_icd10` WHERE id = 10196;
DELETE FROM `m_icd10` WHERE id = 10197;
DELETE FROM `m_icd10` WHERE id = 10198;
DELETE FROM `m_icd10` WHERE id = 10199;
DELETE FROM `m_icd10` WHERE id = 10200;
DELETE FROM `m_icd10` WHERE id = 10201;
DELETE FROM `m_icd10` WHERE id = 10202;
DELETE FROM `m_icd10` WHERE id = 10203;
DELETE FROM `m_icd10` WHERE id = 10204;
DELETE FROM `m_icd10` WHERE id = 10205;
DELETE FROM `m_icd10` WHERE id = 10206;
DELETE FROM `m_icd10` WHERE id = 10207;
DELETE FROM `m_icd10` WHERE id = 10208;
DELETE FROM `m_icd10` WHERE id = 10209;
DELETE FROM `m_icd10` WHERE id = 10210;
DELETE FROM `m_icd10` WHERE id = 10211;
DELETE FROM `m_icd10` WHERE id = 10212;
DELETE FROM `m_icd10` WHERE id = 10213;
DELETE FROM `m_icd10` WHERE id = 10214;
DELETE FROM `m_icd10` WHERE id = 10215;
DELETE FROM `m_icd10` WHERE id = 10216;
DELETE FROM `m_icd10` WHERE id = 10217;
DELETE FROM `m_icd10` WHERE id = 10218;
DELETE FROM `m_icd10` WHERE id = 10219;
DELETE FROM `m_icd10` WHERE id = 10220;
DELETE FROM `m_icd10` WHERE id = 10221;
DELETE FROM `m_icd10` WHERE id = 10222;
DELETE FROM `m_icd10` WHERE id = 10223;
DELETE FROM `m_icd10` WHERE id = 10224;
DELETE FROM `m_icd10` WHERE id = 10225;
DELETE FROM `m_icd10` WHERE id = 10226;
DELETE FROM `m_icd10` WHERE id = 10227;
DELETE FROM `m_icd10` WHERE id = 10228;
DELETE FROM `m_icd10` WHERE id = 10229;
DELETE FROM `m_icd10` WHERE id = 10230;
DELETE FROM `m_icd10` WHERE id = 10231;
DELETE FROM `m_icd10` WHERE id = 10232;
DELETE FROM `m_icd10` WHERE id = 10233;
DELETE FROM `m_icd10` WHERE id = 10234;
DELETE FROM `m_icd10` WHERE id = 10235;
DELETE FROM `m_icd10` WHERE id = 10236;
DELETE FROM `m_icd10` WHERE id = 10237;
DELETE FROM `m_icd10` WHERE id = 10238;
DELETE FROM `m_icd10` WHERE id = 10239;
DELETE FROM `m_icd10` WHERE id = 10240;
DELETE FROM `m_icd10` WHERE id = 10241;
DELETE FROM `m_icd10` WHERE id = 10242;
DELETE FROM `m_icd10` WHERE id = 10243;
DELETE FROM `m_icd10` WHERE id = 10244;
DELETE FROM `m_icd10` WHERE id = 10245;
DELETE FROM `m_icd10` WHERE id = 10246;
DELETE FROM `m_icd10` WHERE id = 10247;
DELETE FROM `m_icd10` WHERE id = 10248;
DELETE FROM `m_icd10` WHERE id = 10249;
DELETE FROM `m_icd10` WHERE id = 10250;
DELETE FROM `m_icd10` WHERE id = 10251;
DELETE FROM `m_icd10` WHERE id = 10252;
DELETE FROM `m_icd10` WHERE id = 10253;
DELETE FROM `m_icd10` WHERE id = 10254;
DELETE FROM `m_icd10` WHERE id = 10255;
DELETE FROM `m_icd10` WHERE id = 10256;
DELETE FROM `m_icd10` WHERE id = 10257;
DELETE FROM `m_icd10` WHERE id = 10258;
DELETE FROM `m_icd10` WHERE id = 10259;
DELETE FROM `m_icd10` WHERE id = 10260;
DELETE FROM `m_icd10` WHERE id = 10261;
DELETE FROM `m_icd10` WHERE id = 10262;
DELETE FROM `m_icd10` WHERE id = 10263;
DELETE FROM `m_icd10` WHERE id = 10264;
DELETE FROM `m_icd10` WHERE id = 10265;
DELETE FROM `m_icd10` WHERE id = 10266;
DELETE FROM `m_icd10` WHERE id = 10267;
DELETE FROM `m_icd10` WHERE id = 10268;
DELETE FROM `m_icd10` WHERE id = 10269;
DELETE FROM `m_icd10` WHERE id = 10270;
DELETE FROM `m_icd10` WHERE id = 10271;
DELETE FROM `m_icd10` WHERE id = 10272;